{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <style>
        .logos {
            width: 100px;
            height: auto;
        }
    </style>
{% endblock %}

{% block app_content %}
    {% include "game/game_sidenav.html" %}
    <div class="main" style="text-align: center;">
        <h1>
            {{ game }} 
            <img class="logos" alt="Team-Logo" src="{{ url_for('static', filename=file_loc) }}">
        </h1>
        <table class="table">
            <tr class="table-headers"> 
                <th>Pitcher</th>
                <th>BF</th>
                <th>Pitches</th>
                <th>Hits</th>
                <th>Ks</th>
                <th>BBs</th>
                <th>HBP</th>
                <th>Strike %</th>
                <th>FPS %</th>
                <th>FB Avg</th>
                <th>2S Avg</th>
            </tr>
            {% for o in basic_stats_by_outing %}
            <tr>
                <td><a href="{{ url_for('outing.outing_home', id=o['outing_id']) }}">{{ o["Pitcher"] }}</a></td>
                <td>{{ o["BF"] }}</td>
                <td>{{ o["Pitches"] }}</td>
                <td>{{ o["Hits"] }}</td>
                <td>{{ o["K"] }}</td>
                <td>{{ o["BB"] }}</td>
                <td>{{ o["HBP"] }}</td>
                <td>{{ o["SP"] }}</td>
                <td>{{ o["FPS"] }}</td>
                <td>{{ o["FB Avg"] }}</td>
                <td>{{ o["2S Avg"] }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td>Totals</td>
                <td>{{ basic_stats_game["BF"] }}</td>
                <td>{{ basic_stats_game["Pitches"] }}</td>
                <td>{{ basic_stats_game["Hits"] }}</td>
                <td>{{ basic_stats_game["K"] }}</td>
                <td>{{ basic_stats_game["BB"] }}</td>
                <td>{{ basic_stats_game["HBP"] }}</td>
                <td>{{ basic_stats_game["SP"] }}</td>
                <td>{{ basic_stats_game["FPS"] }}</td>
                <td>{{ basic_stats_game["FB Avg"] }}</td>
                <td>{{ basic_stats_game["2S Avg"] }}</td>
            </tr>
        </table>
    </div>
{% endblock %}