{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
<script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
<script src="{{ url_for('static', filename='js/season_selector.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        season_selector('games-season-selector', 'games-table', 1);
    });
</script>
{% endblock %}

{% block app_content %}
{% include "hitters/hitters_sidenav.html" %}
<div class="main">
    {% include "hitters/hitters_title.html" %}
    <div class="row" style="text-align: center;">
        <h1>Games</h1>
    </div>
    <div class="row">
        <h5>Select a Season:</h5>
        <select name="Outings Season Selector" id="games-season-selector"
            onchange="season_selector('games-season-selector', 'games-table', 1)">
            <option value="All Seasons">All Seasons</option>
            {% for season in seasons %}
            <option value="{{ season }}" {% if current_season == season %} selected {% endif %}>
                {{ season }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <table id="games-table" class="table">
            <tr class="table-headers">
                <th class="text-left">Date</th>
                <th class="text-left">Season</th>
                <th class="text-left">Opponent</th>
                <th class="text-left"># of Pitchers</th>
            </tr>
            {% for game in opponent.games %}
            <tr class="data-row">
                <td class="text-left"><a href="{{ url_for('game.game_pitching', id=game.id) }}">{{ game.date }}</a></td>
                <td class="text-left">{{ game.get_season() }}</td>
                <td class="text-left">{{ game.get_opponent() }}</td>
                <td class="text-left">{{ game.get_num_outings() }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}