{% extends "base.html" %}

{% block styles %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/apex.js') }}"></script>
{% endblock %}

{% block app_content %}
{% include "hitters/hitters_sidenav.html" %}
<div class="main">
    {% include "hitters/hitters_title.html" %}
    <div class="row" style="text-align: center;">
        <h1>Scouting/Stats</h1>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#career-ball-in-play">Career Ball in Play</a></li>
            <li class="active"><a data-toggle="tab" href="#current-ball-in-play">Current Season Ball in Play</a></li>
        </ul>
    </div>
    <div class="row tab-content">
        <div id="career-ball-in-play" class="tab-pane fade">
            <div class="col-xs-12 col-lg-6" style="text-align: center;">
                <h3>Career Stat Line</h3>
                <table class="table sortable_table">
                    <thead>
                        <tr class="table-headers">
                            <th onclick="sortTable(0,0)" class="text-left">Name</th>
                            <th onclick="sortTable(1,0)">Class</th>
                            <th onclick="sortTable(2,0)">AB's</th>
                            <th onclick="sortTable(3,0)">H</th>
                            <th onclick="sortTable(4,0)">1B</th>
                            <th onclick="sortTable(5,0)">2B</th>
                            <th onclick="sortTable(6,0)">3B</th>
                            <th onclick="sortTable(7,0)">HR</th>
                            <th onclick="sortTable(8,0)">BB/HBP</th>
                            <th onclick="sortTable(9,0)">K/KL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batter in batters_stat_line %}
                        <tr>
                            <td class="text-left">{{ batter["name"] }}</td>
                            <td>{{ batter["class"] }}</td>
                            <td>{{ batter["ab"] }}</td>
                            <td>{{ batter["h"] }}</td>
                            <td>{{ batter["1b"] }}</td>
                            <td>{{ batter["2b"] }}</td>
                            <td>{{ batter["3b"] }}</td>
                            <td>{{ batter["hr"] }}</td>
                            <td>{{ batter["bb"] }}</td>
                            <td>{{ batter["k"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-lg-6" style="text-align: center;">
                <h3>Career Hard Hit</h3>
                <table class="table sortable_table">
                    <thead>
                        <tr class="table-headers">
                            <th onclick="sortTable(0, 1)" class="text-left">Name</th>
                            <th onclick="sortTable(1, 1)" class="text-left"># Hard Hit</th>
                            <th onclick="sortTable(2, 1)" class="text-left">Hard Hit %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batter in batters_hard_hit %}
                        <tr>
                            <td class="text-left">{{ batter["name"] }}</td>
                            <td class="text-left">{{ batter["num_hard"] }}</td>
                            <td class="text-left">{{ batter["percent"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="current-ball-in-play" class="tab-pane fade in active">
            <div class="col-xs-12 col-lg-6" style="text-align: center;">
                <h3>Current Season Stat Line</h3>
                <table class="table sortable_table">
                    <thead>
                        <tr class="table-headers">
                            <th onclick="sortTable(0,2)" class="text-left">Name</th>
                            <th onclick="sortTable(1,2)">Class</th>
                            <th onclick="sortTable(2,2)">AB</th>
                            <th onclick="sortTable(3,2)">H</th>
                            <th onclick="sortTable(4,2)">1B</th>
                            <th onclick="sortTable(5,2)">2B</th>
                            <th onclick="sortTable(6,2)">3B</th>
                            <th onclick="sortTable(7,2)">HR</th>
                            <th onclick="sortTable(8,2)">BB/HBP</th>
                            <th onclick="sortTable(9,2)">K/KL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batter in batters_stat_line %}
                        <tr>
                            <td class="text-left">{{ batter["name"] }}</td>
                            <td>{{ batter["class"] }}</td>
                            <td>{{ batter["current_ab"] }}</td>
                            <td>{{ batter["current_h"] }}</td>
                            <td>{{ batter["current_1b"] }}</td>
                            <td>{{ batter["current_2b"] }}</td>
                            <td>{{ batter["current_3b"] }}</td>
                            <td>{{ batter["current_hr"] }}</td>
                            <td>{{ batter["current_bb"] }}</td>
                            <td>{{ batter["current_k"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-lg-6" style="text-align: center;">
                <h3>Current Season Hard Hit</h3>
                <table class="table sortable_table">
                    <thead>
                        <tr class="table-headers">
                            <th onclick="sortTable(0,3)" class="text-left">Name</th>
                            <th onclick="sortTable(1,3)" class="text-left"># Hard Hit</th>
                            <th onclick="sortTable(2,3)" class="text-left">Hard Hit %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batter in batters_hard_hit %}
                        <tr>
                            <td class="text-left">{{ batter["name"] }}</td>
                            <td class="text-left">{{ batter["current_num_hard"] }}</td>
                            <td class="text-left">{{ batter["current_percent"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}