<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_home') }}">Home</a></li>
    <!-- <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_games') }}">Games Against</a></li> -->
    <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_stats') }}">Stats</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_inactive_roster') }}">Inactive Roster</a></li>
    {% if current_user.admin %}
    <!-- Edit our own stuff from opponents view -->
        <!-- <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_edit') }}">Edit</a></li> -->
    {% endif %}
</ul>