{% extends "base.html" %}

{% block styles %}
{{ super() }}
<script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3_strikezone-1.0.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // setup_strikezone_1();
        setup_strikezone_2();
    });

    function setup_strikezone_2() {
        let test_zone = new dynamic_scouting_strikezone("test-strikezone", "test-strikezone-table");
        let complex_data = {{data|tojson}};
        test_zone.provideData(complex_data);
        console.log(complex_data);
    }

    function setup_strikezone_1() {

        let size = 125;

        let test_zone = new strikezone("test-strikezone");

        let pitches = {{data|tojson}};
        let pitch_type = "FB";
        for(let pitch in pitches[pitch_type]){
            console.log(pitches[pitch_type][pitch][0]+ " " + pitches[pitch_type][pitch][1]);
            test_zone.drawOpaqueCircle(pitches[pitch_type][pitch][0], pitches[pitch_type][pitch][1]);
        }
        pitch_type = "SM"
        for(let pitch in pitches[pitch_type]){
            console.log(pitches[pitch_type][pitch][0]+ " " + pitches[pitch_type][pitch][1]);
            test_zone.drawOpaqueCircle(pitches[pitch_type][pitch][0], pitches[pitch_type][pitch][1]);
        }

    }
</script>
{% endblock %}

{% block app_content %}
{% include "opponent/batter/batter_sidenav.html" %}
<div class="main">
    {% include "opponent/batter/batter_title.html" %}

    <div class="row text-center">
        <h3>Batter Performance by Zone Location and Pitch Type</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12" id="test-strikezone"></div>
        <div class="col-md-6 col-xs-12" id="test-strikezone-table">
            <table class="table">
                <thead>
                    <tr class="table-headers">
                        <th>Pitch</th>
                        <th>Num</th>
                        <th>Swing %</th>
                        <th>Whiff %</th>
                        <th>Foul %</th>
                        <th>In Play %</th>
                        <th>In Play Out %</th>
                        <th>In Play Safe %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="FB-data-row">
                        <td class="pitch_type">FB</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                    <tr id="SM-data-row">
                        <td class="pitch_type">2S</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                    <tr id="CB-data-row">
                        <td class="pitch_type">CB</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                    <tr id="SL-data-row">
                        <td class="pitch_type">SL</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                    <tr id="CH-data-row">
                        <td class="pitch_type">CH</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                    <tr id="CT-data-row">
                        <td class="pitch_type">CT</td>
                        <td class="pitch_count">0</td>
                        <td class="swing_rate">0</td>
                        <td class="whiff_rate">0</td>
                        <td class="foul_rate">0</td>
                        <td class="in_play_rate">0</td>
                        <td class="in_play_out_rate">0</td>
                        <td class="in_play_safe_rate">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}