{% extends "base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block app_content %}
{% include "opponent/batter/batter_sidenav.html" %}
<div class="main">
    {% include "opponent/batter/batter_title.html" %}
    <h1>Videos</h1>
    <div>
        Select a season:
        <select id="season-selector" class="form-control">
            {% for season in seasons %}
            {% if season.id == current_season.id %}
            <option value="{{ season.id }}" selected>{{ season }}</option>
            {% else %}
            <option value="{{ season.id }}">{{ season }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>
    <div id="all-videos"></div>
    <script>
        {% include 'opponent/batter/batter_videos.js' %}
    </script>
    {% endblock %}