{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            sortTable(0,0);
        });
    </script>
{% endblock %}

{% block app_content %}
    {% include "opponent/batter/batter_sidenav.html" %}
    <div class="main">
        <h1>
            {{ batter.name() }} - At Bats
        </h1> 
        <div>
            <table class="table sortable_table">
                <tr class="table-headers">
                    <th onclick="sortTable(0,0)">Date</th>
                    <th onclick="sortTable(1,0)">Pitcher</th>
                    <th onclick="sortTable(2,0)">Num Pitches</th>
                    <th onclick="sortTable(3,0)">View</th>
                </tr>
                {% for at_bat in batter.at_bats %}
                    <tr>
                        <td>{{ at_bat.get_date() }}</td>
                        <td>{{ at_bat.get_pitcher() }}</td>
                        <td>{{ at_bat.get_num_pitches() }}</td>
                        <td><a href="{{ url_for('batter.batter_at_bat', batter_id=batter.id, ab_num=at_bat.id) }}">View</a></td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
{% endblock %}