{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3_field.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3_strikezone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function(){

        //done as function calls to reduce syntax error traveling
        setup_sprays();
        setup_spray_density();
        setup_pitch_locs();

        //sorts the table by date 
        sortTable(1, 0);
        //adds index's to table again
        reset_table_index();
    });

    // Searches all elements with class outcome-index from table, and gives each an index
    function reset_table_index(){
        var count = 1;
        document.querySelectorAll(".outcome-index").forEach(function(item){
            item.innerHTML = count;
            count += 1;
        });
    }

    function setup_spray_density(){
        let spray_density = new field_density("field-density");
        let d_vals = {{ d_vals|tojson}};
        for(var i = 0; i < d_vals.length; i++){
            spray_density.set_position_shade(i, d_vals[i]);
        }
    }

    function setup_sprays(){
        let spray_legend = new field_legend("field-legend");
        let spray = new field("field");

        let hits = {{ sprays|tojson }};
        
        hits.forEach(function(hit){
            if(hit.x != null && hit.y !=null){
                spray.drawCircle(hit.x, hit.y, hit.traj, hit.hard_hit);
            }
        });
    }

    function setup_pitch_locs(){
        let zone_legend = new strikezone_legend("pitch_locs_legend");
        let zone = new strikezone("pitch_locs");

        let pitches = {{locs|tojson}};

        for(let pitch in pitches){
            console.log(pitch);
            zone.drawCircle(pitches[pitch].x_loc, pitches[pitch].y_loc, pitches[pitch].type);
        }
    }
    </script>
{% endblock %}

{% block app_content %}
    {% include "opponent/batter/batter_sidenav.html" %}
    <div class="main">
        {% include "opponent/batter/batter_title.html" %}
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#sprays">Whiff/Swing Rates</a></li>
                <li><a data-toggle="tab" href="#locs">Pitch Locations</a></li>
            </ul>
        </div>
        <div class="row tab-content">
            <div id="sprays" class="tab-pane fade in active">
                <div class="row text-center">
                    <h1>
                        Spray Charts
                    </h1> 
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6" id="spray-location">
                        <h4>Spray Locations</h4>
                        <div>
                            <div id="field-legend"></div>
                            <br>
                            <div id="field"></div>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-lg-6" id="fielder-location">
                        <h4>Spray Density</h4>
                        <div id="field-density"></div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped table-condensed sortable_table">
                        <thead>
                            <tr class="table-headers">
                                <th>Index</th>
                                <th>Date</th>
                                <th>Pitcher</th>
                                <th>Outing Pitch Num</th>
                                <th>Velo</th>
                                <th>Lead RNR</th>
                                <th>Time to Plate</th>
                                <th>Pitch Type</th>
                                <th>Hit Spot?</th>
                                <th>Count</th>
                                <th>AB Result</th>
                                <th>GB/FB/LD</th>
                                <th>Fielder</th>
                                <th>Hit Hard?</th>
                                <th>Inning</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for outcome in outcomes %}
                                <tr>
                                    <td class="outcome-index"></td>
                                    <td>{{ outcome.get_date() }}</td>
                                    <td>{{ outcome.get_pitcher() }}</td>
                                    <td>{{ outcome.pitch_num }}</td>

                                    {% if outcome.velocity not in ["None", None] %}
                                        <td>{{ outcome.velocity }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>{{ outcome.lead_runner }}</td>

                                    {% if outcome.time_to_plate not in ["None", None] %}
                                        <td>{{ outcome.time_to_plate }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>{{ outcome.pitch_type }}</td>

                                    {% if outcome.hit_spot %}
                                        <td>X</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>{{ outcome.count }}</td>
                                    <td>{{ outcome.ab_result }}</td>
                                    <td>{{ outcome.traj }}</td>
                                    <td>{{ outcome.fielder }}</td>

                                    {% if outcome.hit_hard %}
                                        <td>X</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>{{ outcome.inning }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="locs" class="tab-pane fade">
                <h1>Pitches Against</h1>
                <div id="pitch_locs_legend"></div>
                <div id="pitch_locs"></div>
            </div>
        </div>

    </div>
{% endblock %}