{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function(){

    implement_zone_tracker();
    implement_spray_tracker();
});

function implement_spray_tracker(){
    var field = d3.select("#field");

    var traj_colors = {
        "GB": "rgb(255, 0, 0)",
        "LD": "rgb(0, 255, 0)",
        "FB": "rgb(0, 0, 255)",
        "": "rgb(0,0,0)"  // outcomes with no trajectory will be black
    }

    // setup trajectory legend
    // setup legend variables
    var field_legend = d3.select("#field-legend");
    g_legend = field_legend.append('g').attr('transform', null);
    // legend description text
    g_legend.append('text')
        .attr('class', 'legend-text')
        .attr('font-size', '14pt')
        .attr('fill', 'black')
        .attr('x', 10)
        .attr('y', 50)
        .text("Hit Types:");

    // legend content loop
    var x_index = 0;
    for(var color in traj_colors){
        // setup legend circle
        g_legend.append('circle')
            .attr('class', 'legend-circle')
            .attr('r', '8')
            .attr('cy', 50)
            .attr('cx', 175+x_index)
            .attr('fill', traj_colors[color]);

        // setup legend text
        if(color == ""){
            g_legend.append('text')
                .attr('class', 'legend-text')
                .attr('font-size', "9pt")
                .attr('fill', 'black')
                .attr('y', 50)
                .attr('dy', 5)
                .attr('x', 145+x_index)
                .attr('text-anchor', 'middle')
                .text("Other:");
        } else {
            g_legend.append('text')
                .attr('class', 'legend-text')
                .attr('font-size', "9pt")
                .attr('fill', 'black')
                .attr('y', 50)
                .attr('dy', 5)
                .attr('x', 145+x_index)
                .attr('text-anchor', 'middle')
                .text(color + ":");
        }
        
        
        x_index += 60;
    }

    // set up the field 
    width = +field.attr('width');
    height = +field.attr('height');
    g1 = field.append('g').attr('transform', 'translate(0,95)');
    field.append("svg:image")
        .attr('x', 0)
        .attr('y', 0)
        .attr('width', 435)
        .attr('height', 430)
        .attr('transform', 'translate(17,17)')
        .style('alignment-baseline', 'middle')
        .attr("xlink:href", "{{ url_for('static', filename='images/field.png') }}");

        // Scale variables for field image
        var xScalef = d3.scaleLinear().range([width, 0]).domain([250,-250]);
        var yScalef = d3.scaleLinear().range([height, 0]).domain([-100,400]);

        function drawCircle(x, y, traj){
            field.append('circle')
                .attr('class', 'field-circle')
                .attr('cx', xScalef(x))
                .attr('cy', yScalef(y))
                .attr('r', '8')
                .style('fill', traj_colors[traj]);
        }

        let hits = {{ hits|tojson }};

        hits.forEach(function(hit){
            if(hit.x != null && hit.y !=null){
                drawCircle(hit.x, hit.y, hit.traj);
            }
            
        });

}

function implement_zone_tracker(){

    // get zone svg from DOM
    var zone = d3.select("#strikezone");

    // Set colors for pitch types ----- make universal var at some point
    let pitch_colors = {
        "1": 'rgb(230, 25, 75)',
        "2": 'rgb(0, 130, 200)',
        "3": 'rgb(0, 200, 0)',
        "4": 'rgb(200, 200, 0)',
        "5": 'rgb(0, 200, 200)',
        "7": 'rgb(255, 128, 0)'
    };

    // setup legend variables
    var zone_legend = d3.select("#strikezone-legend");
    g_legend = zone_legend.append('g').attr('transform', null);
    // legend description text
    g_legend.append('text')
        .attr('class', 'legend-text')
        .attr('font-size', '14pt')
        .attr('fill', 'black')
        .attr('x', 10)
        .attr('y', 50)
        .text("Pitch Types:");

    // legend content loop
    var x_index = 0;
    for(var color in pitch_colors){
        // setup legend circle
        g_legend.append('circle')
            .attr('class', 'legend-circle')
            .attr('r', '8')
            .attr('cy', 50)
            .attr('cx', 145+x_index)
            .attr('fill', pitch_colors[color]);

        // setup legend text
        g_legend.append('text')
            .attr('class', 'legend-text')
            .attr('font-size', "9pt")
            .attr('fill', 'black')
            .attr('y', 50)
            .attr('dy', 5)
            .attr('x', 145+x_index)
            .attr('text-anchor', 'middle')
            .text(color);
        
        x_index += 20;
    }

    // set up the zone location tracker variables
    margin = {top: 10, right: 10, bottom: 10, left: 20};
    width = +zone.attr('width');
    height = +zone.attr('height');
    g = zone.append('g').attr('transform', null);
    zone.style('background-color', 'white').style('border', '1px solid black').style('margin', '10px');

    // setup variables for drawing strikezone appearance
    var xScale = d3.scaleLinear().range([width, 0]).domain([2,-2]);
    var yScale = d3.scaleLinear().range([height, 0]).domain([0,4]);

    // draw the appearance of the strikezone
    g.append('path')
        .attr('id', 'zone')
        .attr(
            'd', 'M ' + xScale(-.833) + ',' + yScale(1.75) + ' L ' + xScale(-.833) + ',' + yScale(3.4) + ' L ' +
            xScale(.833) + ',' + yScale(3.4) + ' L ' + xScale(.833) + ','  + yScale(1.75) + ' L ' + xScale(-.833) +  ',' + yScale(1.75)
            + 'M' + xScale(0) + ',' + yScale(0.2) + 'L' + xScale(-.843) + ',' + yScale(0.4) + 'L'  + xScale(-.833) + ',' + yScale(0.6) + 'L' +
            xScale(.833)+ ',' + yScale(0.6) + 'L' + xScale(.843) + ',' + yScale(0.4) + 'L' + xScale(0) + ',' + yScale(0.2)
        )
        .style('stroke', 'black')
        .style('fill', 'none')
        .style('stroke-width', 2);

    // Adds a circle to the strikezone at the (x,y) given
    function drawCircle(x, y, pitch_type="", pitch_num="") {

        // Set colors for pitch types
        let pitch_colors = {
            "1": 'rgb(230, 25, 75)',
            "2": 'rgb(0, 130, 200)',
            "3": 'rgb(0, 200, 0)',
            "4": 'rgb(200, 200, 0)',
            "5": 'rgb(0, 200, 200)',
            "7": 'rgb(255, 128, 0)',
            "": 'rgb(0,0,0)'
        };

        // adds the circle to the strikezone
        zone.append('circle')
            .attr('class', 'click-circle')
            .attr('cx', xScale(x))
            .attr('cy', yScale(y))
            .attr('r', '8')
            .style('fill', pitch_colors[pitch_type]);

        // Adds pitch type text to circle
        zone.append('text')
            .attr('class', 'pitch-circle-text')
            .attr('x', xScale(x))
            .attr('y', yScale(y))
            .attr('dy', 5)
            .attr('font-size', '9pt')
            .attr('text-anchor', 'middle')
            .attr('fill', 'black')
            .text(pitch_num);
    }

    // get pitches data from server
    var pitches = {{ pitches|tojson }};
    
    // for each pitch from server, add circle in chart
    pitches.forEach(function(pitch){
        if(pitch.x != null && pitch.y != null){
            drawCircle(pitch.x, pitch.y, pitch_type=pitch.pitch_type, pitch.pitch_num);
        }
    });
}

</script>
{% endblock %}

{% block app_content %}
{% include "opponent/batter/batter_sidenav.html" %}
<div class="main">
    <h1>
        {{ batter.name() }} - {{ game }}
    </h1>
    <div>
        <div>
            <h3>Pitches Seen</h3>
            <table class="table">
                <tr class="table-headers">
                    <th>Pitch index</th>
                    <th>Pitcher</th>
                    <th>Outing Pitch Num</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>Count</th>
                    <th>AB Result</th>
                    <th>GB/FB/LD</th>
                    <th>Fielder</th>
                    <th>Hit Hard?</th>
                    <th>Inning</th>
                </tr>
                {% set count = [1] %}
                {% for at_bat in game_at_bats %}
                    {% if (loop.index % 2 == 0) %}
                        {% set color="#ececec" %}
                    {% else %}
                        {% set color="white" %}
                    {% endif %}
                    {% for pitch in at_bat.pitches %}
                        <tr style="background-color: {{ color }};">
                            <td>{{ count[0] }}</td> {% if count.append(count.pop() + 1) %}{% endif %}
                            <td>{{ at_bat.get_pitcher() }}</td>
                            <td>{{ pitch.pitch_num }}</td>
                            {% if pitch.velocity not in ["None", None] %}
                                <td>{{ pitch.velocity }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.lead_runner }}</td>
                            {% if pitch.time_to_plate not in ["None", None] %}
                                <td>{{ pitch.time_to_plate }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.pitch_type }}</td>
                            <td>{{ pitch.pitch_result }}</td>
                            {% if pitch.hit_spot %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.count }}</td>
                            <td>{{ pitch.ab_result }}</td>
                            <td>{{ pitch.traj }}</td>
                            <td>{{ pitch.fielder }}</td>
                            {% if pitch.hit_hard %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.inning }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div id="pitch-location" style="text-align: center;">
            <h4 style="text-align: center;">Pitch Locations</h4>
            <p>The color of the circle represents the type of pitch that was thrown. The
                number inside the circle represents the pitch index of the pitch.</p>
            <svg id='strikezone-legend' class=chart height='70' width='457' align='center'></svg>
            <br>
            <svg id='strikezone' class=plot height='457' width='457' align='center'></svg>
        </div>
        <div id="spray-location" style="text-align: center;">
            <h4>Spray Locations</h4>
            <svg id='field-legend' class=chart height='70' width='457' align='center'></svg>
            <br>
            <svg id='field' height='457' width='457'></svg>
        </div>
        

    </div>
</div>
{% endblock %}