<div class="sidenav">
    <a href="{{ url_for('opponent.opponent_roster', id=batter.opponent_id) }}">Team Roster</a>
    <a href="{{ url_for('batter.batter_home', id=batter.id) }}">Batter Home</a>
    <a href="{{ url_for('batter.batter_at_bats', batter_id=batter.id) }}">At Bats</a>
    <a href="{{ url_for('batter.batter_pitches_against', batter_id=batter.id) }}">Pitches Against</a>
    <a href="{{ url_for('batter.batter_games', batter_id=batter.id) }}">Games</a>
    <a href="{{ url_for('batter.batter_videos', id=batter.id) }}">Videos</a>
    <a href="{{ url_for('batter.batter_spray_chart', batter_id=batter.id) }}">Sprays</a>
    <a href="{{ url_for('batter.batter_sequencing', batter_id=batter.id) }}">Sequencing</a>
    <a href="{{ url_for('batter.batter_stats', batter_id=batter.id) }}">Stats</a>
    {% if current_user.admin %}
        <a href="{{ url_for('batter.edit_batter', id=batter.id) }}">Edit Batter</a>
    {% endif %}
</div>