{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">
            Edit "{{ batter.name() }}"
        </h1>
        <div style="padding-left: 20px">
            <i class="opponent-title">Team: {{ batter.opponent }}</i>
        </div><br>
        <form method="post" novalidate>
            {{ form.hidden_tag() }} {# Preventing CSRF attacks #}
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=32, value=batter.firstname, class="form-control") }}
                {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=32, value=batter.lastname, class="form-control") }}
                {% for error in form.lastname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.number.label }} (Optional)<br>
                {{ form.number(type='number', value=batter.number, class="form-control") }}
                {% for error in form.number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.bats.label }}<br>
                <select id="bats" name="bats" class="form-control">
                    <option value="R" {% if batter.bats == 'R' %} selected='selected' {% endif %}>R</option>
                    <option value="L" {% if batter.bats == 'L' %} selected='selected' {% endif %}>L</option>
                    <option value="S" {% if batter.bats == 'S' %} selected='selected' {% endif %}>S</option>
                </select>
                {% for error in form.bats.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.grad_year.label }} (Optional)<br>
                {% if batter.grad_year == None %}
                {{ form.grad_year(size=32, class="form-control") }}
                {% else %}
                {{ form.grad_year(size=32, value=batter.grad_year, class="form-control") }}
                {% endif %}
                {% for error in form.grad_year.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.notes.label }} (Optional)<br>
                {% if batter.notes == 'None' or batter.notes == None %}
                {{ form.notes(size=32, class="form-control") }}
                {% else %}
                {{ form.notes(size=32, value=batter.notes, class="form-control") }}
                {% endif %}
                {% for error in form.notes.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.retired.label }}<br>
                {% if batter.retired %}
                <input checked id="retired" name="retired" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                    data-off="No"><br>
                {% else %}
                <input id="retired" name="retired" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                    data-off="No"><br>
                {% endif %}
                {% for error in form.retired.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit(class="btn btn-primary btn-block btn-lg") }}
            </p>
        </form>
        <p style="text-align: center">
            -OR-
            <a as="button" class="btn btn-danger btn-lg btn-block" href="/delete_batter/{{batter.id}}"
                onclick="return confirm('Are you sure you want to delete this batter?')">Delete Batter</a>
        </p>
    </div>
</div>
<script>

</script>
{% endblock %}