{% extends "base.html" %}

{% block app_content %}
    <div class="main">
        <h1>New Batter</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }} {# Preventing CSRF attacks #}
            <p>
                {{ form.opponent.label }}<br>
                {{ form.opponent() }}
                {% for error in form.opponent.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=32) }}
                {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=32) }}
                {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.nickname.label }}<br>
                {{ form.nickname(size=32) }}
                {% for error in form.nickname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.bats.label }}<br>
                {{ form.bats() }}
                {% for error in form.bats.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.grad_year.label }}<br>
                {{ form.grad_year(size=32) }}
                {% for error in form.grad_year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.retired.label }}<br>
                {{ form.retired(size=32) }}
                {% for error in form.retired.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}