{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pitcher_sidenav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
    <style>
        #page-title {
            border-bottom: 5px solid #bd231f;
            font-size: 45px;
            font-weight: 600;
            text-align: center;
        }
        #pitcher-icon {
            height: 40px;
            width: auto;
        }
        #team-season-stats {
            width: 300px;
        }
    </style>
    <script>
        window.addEventListener("DOMContentLoaded", function(){

            fetch("{{ url_for('api.staff_home_importantstats') }}",
            {
                method: "POST"
            }).then(res => res.json())
            .then(function(response){
                if(response.status == "failure"){
                    console.log("Request status: failure");
                    console.log("Error message: " + response.error);
                    return;
                }

                document.querySelector("#strike-percentage-holder").innerHTML = response.data.strike_percentage + "%";
                if(response.data.strike_percentage >= 65){
                    document.querySelector("#strike-percentage-holder").style.backgroundColor = "rgb(0,100,0)";
                    document.querySelector("#strike-percentage-holder").style.color = "white";
                } else {
                    document.querySelector("#strike-percentage-holder").style.backgroundColor = "rgb(200,0,0)";
                    document.querySelector("#strike-percentage-holder").style.color = "white";
                }

                document.querySelector("#fps-percentage-holder").innerHTML = response.data.fps_percentage + "%";
                if(response.data.fps_percentage >= 60){
                    document.querySelector("#fps-percentage-holder").style.backgroundColor = "rgb(0,100,0)";
                    document.querySelector("#fps-percentage-holder").style.color = "white";
                } else {
                    document.querySelector("#fps-percentage-holder").style.backgroundColor = "rgb(200,0,0)";
                    document.querySelector("#fps-percentage-holder").style.color = "white";
                }

                document.querySelector("#k-to-bb-holder").innerHTML = response.data.k_to_bb;
                if(response.data.k_to_bb >= 2){
                    document.querySelector("#k-to-bb-holder").style.backgroundColor = "rgb(0,100,0)";
                    document.querySelector("#k-to-bb-holder").style.color = "white";
                } else {
                    document.querySelector("#k-to-bb-holder").style.backgroundColor = "rgb(200,0,0)";
                    document.querySelector("#k-to-bb-holder").style.color = "white";
                }

            });
        });
    </script>
{% endblock %}

{% block app_content %}
    {% include "staff/staff_sidenav.html" %}
    <div class="main" style="text-align: center;">
        <h1 id="page-title">
            {% include "staff/pitcher.svg" %}
            BEARS PITCHING 2019-2020
        </h1>
        <p>
            <h2>Staff Goals For {{ current_season }}</h2>
            <table class="table" id="team-season-stats">
                <tr>
                    <th>Statistic</th>
                    <th>Goal</th>
                    <th>Current Value</th>
                </tr>
                <tr>
                    <td>Strike%</td>
                    <td>65%</td>
                    <td id="strike-percentage-holder"><div class="loader"></div></td>
                </tr>
                <tr>
                    <td>FPS%</td>
                    <td>60%</td>
                    <td id="fps-percentage-holder"><div class="loader"></div></td>
                </tr>
                <tr>
                    <td>K/BB</td>
                    <td>2</td>
                    <td id="k-to-bb-holder"><div class="loader"></div></td>
                </tr>
            </table>
        </p>
        <br>
        <br>
        <div>
            <h1>Baseball In-Season Arm Care</h1>
            <p>Pitchers should complete the Arm Care program 2 times per week, with a recovery day after heaviest throwing day.</p>
            <p><a href="{{ url_for('api.download_arm_care') }}">Download PDF</a></p>
            <table class="table">
                <caption><i>Exercises 1-3 Isometric hold. Exercises 4 Movement pattern</i></caption>
                <col width="376px">
                <col width="200">
                <tr class="table-headers">
                    <th class="text-left" style="font-size: 150%;">Scapula</th>
                    <th style="font-size: 150%;">Sets/Reps</th>
                </tr>
                <tr>
                    <td class="text-left">Arm Holds Against Wall at 45 degrees</td>
                    <td>2x15sec</td>
                </tr>
                <tr>
                    <td class="text-left">Arm Holds Against Wall at 90 degrees</td>
                    <td>2x15sec</td>
                </tr>
                <tr>
                    <td class="text-left">Arm Holds Against Wall at 90 degrees w/ External Rotation</td>
                    <td>2x15sec</td>
                </tr>
                <tr>
                    <td class="text-left">No Money Exercise</td>
                    <td>2x15</td>
                </tr>
            </table>
            <br>
            <table class="table">
                <caption><i>All done on lower Hooks</i></caption>
                <col width="376px">
                <col width="200">
                <tr class="table-headers">
                    <th class="text-left" style="font-size: 150%;">Crossover Bands</th>
                    <th style="font-size: 150%;">Sets/Reps</th> 
                </tr>
                <tr>
                    <td class="text-left">Scaption</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Incline Press</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">SA Punch</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Flexion Palms up</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Victory</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left"> 90/90 </td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Extension</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Reverse Fly</td>
                    <td>2x12</td>
                </tr>
            </table>
            <br>
            <table class="table">
                <caption><i>1, 2, & 4 with weights, 3 with hammer and 5 & 6 with Bands</i></caption>
                <col width="376px">
                <col width="200">
                <tr class="table-headers">
                    <th class="text-left" style="font-size: 150%;">Elbow</th>
                    <th style="font-size: 150%;">Sets/Reps</th>
                </tr>
                <tr>
                    <td class="text-left">Wrist Flexion</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Wrist Extension</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Pronation/Supination</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Radial/Ulnar Deviation</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Eccentric Bicep</td>
                    <td>2x12</td>
                </tr>
                <tr>
                    <td class="text-left">Tricep Kickback</td>
                    <td>2x12</td>
                </tr>
            </table>
            <br>
            <table class="table">
                <col width="376px">
                <col width="200">
                <tr class="table-headers">
                    <th class="text-left" style="font-size: 150%;">Stretching Session</th>
                    <th style="font-size: 150%;">Sets/Reps</th>
                </tr>
                <tr>
                    <td class="text-left">Roll in Finish @ 90/90</td>
                    <td>3x20sec</td>
                </tr>
                <tr>
                    <td class="text-left">Roll in Finish @ 45</td>
                    <td>3x20sec</td>
                </tr>
                <tr>
                    <td class="text-left">External Rotation Towel</td>
                    <td>3x20sec</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}