<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('staff.staff_home') }}">Home</a></li>
    <li><a class="sidenav-item" href="{{ url_for('staff.staff_roster') }}">Roster</a></li>
    <!-- <li><a class="sidenav-item" href="">Arm Care</a></li> -->
    <li><a class="sidenav-item" href="{{ url_for('staff.staff_basic_stats') }}">Basic Stats</a></li>
    <li><a class="sidenav-item" href="{{ url_for('staff.staff_advanced_stats') }}">Advanced Stats</a></li>
    <li><a class="sidenav-item" href="{{ url_for('staff.staff_retired') }}">Retired</a></li>
</ul>