{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/staff_sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
{% endblock %}

{% block app_content %}
    {% include "staff/staff_sidenav.html" %}
    <div class="main" style="text-align: center;">
        {% include "staff/staff_title.html" %}
        <p><h1>Advanced Stats For {{current_season}}</h1></p>
        <div class="col-xs-12 col-md-6">
            <h4>Fastball Velocity</h4>
            <table class="table sortable_table">
                <tr class="table-headers">
                    <th style="width: 40%" onclick="sortTable(0, 0, 2)">Name</th>
                    <!-- <th onclick="sortTable(1, 0, 2)">Throws</th>
                    <th onclick="sortTable(2, 0, 2)">Grad Year</th> -->
                    <th style="width: 20%" onclick="sortTable(1, 0, 2)">FB</th>
                    <th style="width: 20%" onclick="sortTable(2, 0, 2)">2SM</th>
                    <th style="width: 20%" onclick="sortTable(3, 0, 2)">Total</th>
                </tr>
                {% for pitcher in players %}
                    <tr class="data-row">
                        <td style="width: 40%">{{ pitcher["details"]["name"] }}</td>
                        <!-- <td>{{ pitcher["details"]["throws"] }}</td>
                        <td>{{ pitcher["details"]["class"] }}</td> -->
                        <td style="width: 20%">{{ pitcher["velos"]["FB"] }}</td>
                        <td style="width: 20%">{{ pitcher["velos"]["SM"] }}</td>
                        <td style="width: 20%">{{ pitcher["velos"]["total"] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="width: 40%"><b>Staff Averages</b></td>
                    <!-- <td></td>
                    <td></td> -->
                    <td style="width: 20%"><b>{{ total_velo_averages["FB"] }}</b></td>
                    <td style="width: 20%"><b>{{ total_velo_averages["SM"] }}</b></td>
                    <td style="width: 20%"><b>{{ total_velo_averages["total"] }}</b></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <h4>Strike Percentages</h4>
            <table class="table sortable_table">
                <tr class="table-headers">
                    <th style="width: 40%" onclick="sortTable(0, 1, 2)">Name</th>
                    <!-- <th onclick="sortTable(1, 1, 2)">Throws</th>
                    <th onclick="sortTable(2, 1, 2)">Grad Year</th> -->
                    <th style="width: 20%" onclick="sortTable(1, 1, 2)">Fastball</th>
                    <th style="width: 20%" onclick="sortTable(2, 1, 2)">Offspeed</th>
                    <th style="width: 20%" onclick="sortTable(3, 1, 2)">Total</th>
                </tr>
                {% for pitcher in players %}
                <tr>
                    <td style="width: 40%">{{ pitcher["details"]["name"] }}</td>
                    <!-- <td>{{ pitcher["details"]["throws"] }}</td>
                    <td>{{ pitcher["details"]["class"] }}</td> -->
                    <td style="width: 20%">{{ pitcher["strike_percentages"]["fastball"] }}%</td>
                    <td style="width: 20%">{{ pitcher["strike_percentages"]["offspeed"] }}%</td>
                    <td style="width: 20%">{{ pitcher["strike_percentages"]["total"] }}%</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="width: 40%"><b>Staff Averages</b></td>
                    <!-- <td></td>
                    <td></td> -->
                    <td style="width: 20%"><b>{{ total_pct_averages["fastball"] }}%</b></td>
                    <td style="width: 20%"><b>{{ total_pct_averages["offspeed"] }}%</b></td>
                    <td style="width: 20%"><b>{{ total_pct_averages["total"] }}%</b></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}