{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
    <div class="no-sidenav">
        <div class="form-container">
            <h1 class="form-title">New Video Pitcher</h1>
            <form method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.opponent.label }}<br>
                    {{ form.opponent() }}<br>
                    {% for error in form.opponent.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.pitcher.label }}<br>
                    {{ form.pitcher() }}<br>
                    {% for error in form.pitcher.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title() }}<br>
                    {% for error in form.title.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.date.label }}<br>
                    {{ form.date(class="datepicker") }}<br>
                    If in safari, enter date as YYYY-MM-DD
                    {% for error in form.date.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.season.label }}<br>
                    {{ form.season() }}<br>
                    {% for error in form.season.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.outing.label }}<br>
                    {{ form.outing() }}<br>
                    {% for error in form.outing.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.link.label }}<br>
                    {{ form.link() }}<br>
                    {% for error in form.link.errors %}
                        <span class="errors">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <br>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
    <script>{{ js|safe }}</script>
{% endblock %}