{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
{% endblock %}

{% block app_content %}
    {% include "opponent/batter/batter_sidenav.html" %}
    <div class="main">
        <h1>
            {{ batter.name() }} - Pitches Against
        </h1> 
        <table class="table">
            <tr class="table-headers">
                <th>Pitcher</th>
                <th>Pitch</th>
                <th>Velo</th>
                <th>Lead RNR</th>
                <th>Time to Plate</th>
                <th>Pitch Type</th>
                <th>Pitch Result</th>
                <th>Hit Spot?</th>
                <th>Count</th>
                <th>AB Result</th>
                <th>GB/FB/LD</th>
                <th>Fielder</th>
                <th>Hit Hard?</th>
                <th>Inning</th>
            </tr>
            {% for at_bat in batter.at_bats %}
                {% if (loop.index % 2 == 0) %}
                    {% set color="#ececec" %}
                {% else %}
                    {% set color="white" %}
                {% endif %}
                {% for pitch in at_bat.pitches %}
                    <tr style="background-color: {{ color }};">
                        <td>{{ at_bat.get_pitcher() }}</td>
                        <td>{{ pitch.pitch_num }}</td>
                        {% if pitch.velocity==None %}
                            <td></td>
                        {% else %}
                            <td>{{ pitch.velocity }}</td>
                        {% endif %}
                        <td>{{ pitch.lead_runner }}</td>
                        {% if pitch.time_to_plate==None %}
                            <td></td>
                        {% else %}
                            <td>{{ pitch.time_to_plate }}</td>
                        {% endif %}
                        <td>{{ pitch.pitch_type }}</td>
                        <td>{{ pitch.pitch_result }}</td>
                        {% if pitch.hit_spot %}
                            <td>X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ pitch.count }}</td>
                        <td>{{ pitch.ab_result }}</td>
                        <td>{{ pitch.traj }}</td>
                        <td>{{ pitch.fielder }}</td>
                        {% if pitch.hit_hard %}
                            <td>X</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ pitch.inning }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}