{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_resource.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <form onsubmit="return false">
            <h1 class="form-title">New Resource</h1>
            <p>
                {{ form.category.label }}<br>
                {{ form.category() }}
                {% for error in form.category.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.title.label }}<br>
                {{ form.title(val=previous_title) }}
                {% for error in form.title.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(val=previous_description) }}
                {% for error in form.description.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.upload_type.label }}<br>
                {{ form.upload_type() }}
                {% for error in form.upload_type.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="initially-hidden" id="article">
                {{ form.article_link.label }}<br>
                {{ form.article_link() }}
            </p>
            <p class="initially-hidden" id="video">
                {{ form.video_link.label }}<br>
                {{ form.video_link() }}
            </p>
            <p class="initially-hidden" id="pdf">
                {{ form.file.label }}<br>
                {{ form.file() }}
            </p>
            <p><span class="errors" id="input-error"></span></p>
            <p class="initially-hidden" id="submit-p">
                <input type="checkbox" id="notify-players" style="width: auto">&nbsp;
                <label>
                    Notify players via email about this resource
                </label>
                <br>
                <input type="checkbox" id="notify-coaches" style="width: auto">&nbsp;
                <label>
                    Notify coaches via email about this resource
                </label>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</div>
<script>
    // setup variables for different components of the form
    const category = $('#category');
    const title = $('#title');
    const description = $('#description');
    const upload_type = $('#upload_type');
    const article_link = $('#article_link');
    const video_link = $('#video_link');
    const file = $('#file');
    const submit_p = $('#submit-p');
    const input_error = $('#input-error');
    const initially_hidden = $('.initially-hidden');
    const submit_button = $('#submit');
    const notify_players = $('#notify-players');
    const notify_coaches = $('#notify-coaches');

    /** 
    * Determines whether or not to show the submit button based on current
    * values of the form. Makes it harder for the user to enter invalid information
    */
    const show_submit = () => {
        if (validate_form()) {
            submit_p.css('display', 'block');
        } else {
            submit_p.css('display', 'none');
        }
    };

    /**
    * Returns true if the parameter is a url, false otherwise
    */
    const is_url = url => {
        const expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
        const regex = new RegExp(expression);
        return url.match(regex);
    };

    /**
    * Returns true if the file path contains .pdf at the end, false otherwise
    */
    const is_pdf = file_path => {
        const expression = /.pdf$/;
        const regex = new RegExp(expression);
        return file_path.match(regex);
    }

    // https://gist.github.com/jphase/9086823
    /**
    * Returns true if the url param is a youtube video, false otherwise
    */
    const is_youtube_url = url => {
        const expression = /(http:|https:)?\/\/(www\.)?(youtube.com|youtu.be)\/(watch)?(\?v=)?(\S+)?/;
        const regex = new RegExp(expression);
        return url.match(regex);
    };

    /**
    * Returns true if the form is in a valid state to submit, false otherwise
    * Also indicates to the user what they need to fix
    */
    const validate_form = () => {
        let upload_type_val = upload_type.val();
        input_error.text('');
        if (upload_type_val === 'article') {
            video_link.val('');
            file.val('');
            if (!article_link.val() || !is_url(article_link.val())) {
                input_error.text('Please enter a valid URL to upload');
                return false;
            }
        } else if (upload_type_val === 'video') {
            article_link.val('');
            file.val('');
            if (!video_link.val() || !is_youtube_url(video_link.val())) {
                input_error.text('Please enter a valid YouTube URL to upload');
                return false;
            }
        } else if (upload_type_val === 'pdf') {
            article_link.val('');
            video_link.val('');
            if (!file.val() || !is_pdf(file.val())) {
                input_error.text('Please upload a .pdf file');
                return false;
            }
        } else {
            article_link.val('');
            video_link.val('');
            file.val('');
            input_error.text('');
        }
        return true;
    };

    /**
    * Only shows the field based on the what type of resource is trying to be uploaded
    */
    upload_type.change(() => {
        initially_hidden.css('display', 'none');
        $(`#${upload_type.val()}`).css('display', 'block');
        show_submit();
    });

    /**
    * Determine whether or not to show submit button based on what file was uploaded
    */
    file.change(show_submit);

    /**
    * Determine whether or not to show submit button based on link inputs
    */
    $('input').not('#submit').not('#title').not('#description').keyup(show_submit);

    /**
    * Send a http request to have an email sent to notify coaches/players about a new resource
    */
    const send_new_resource_email = (players = false, coaches = false, title = '', description = '') => {
        // setup GET url
        send_email_url = `/resource/email?title=${title}&`;
        if (players) send_email_url += 'players=true&';
        if (coaches) send_email_url += 'coaches=true&';
        if (description) send_email_url += `description=${description}`;

        // send request to have email sent
        if (players || coaches) {
            $.ajax({
                type: 'GET',
                url: send_email_url
            }).done(response => {
                return true;
            }).fail((xhr, status, error) => {
                return false;
            });
        }
        return false;
    };

    /**
    * When the form is submitted, and validated, it will send the form data to the API
    */
    submit_button.on('click', () => {
        if (validate_form()) {
            submit_button.val('Creating Resource....');
            $.ajax({
                type: 'POST',
                url: '/resource',
                contentType: false,
                processData: false,
                data: new FormData($('form')[0])
            }).done(response => {
                submit_button.val('Success');
                if (notify_players.prop('checked') || notify_coaches.prop('checked')) {
                    send_new_resource_email(
                        notify_players.prop('checked'),
                        notify_coaches.prop('checked'),
                        title.val(),
                        description.val()
                    );
                }
                return window.location.href = '/resource/home';
            }).fail((xhr, status, error) => {
                input_error.text(xhr.responseText);
                submit_button.val('Upload Resource');
                return;
            });
        }
    });
</script>
{% endblock %}