{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <form onsubmit="return false">
            <h1 class="form-title">New Resource</h1>
            <p>
                {{ form.category.label }}<br>
                {{ form.category(class="form-control") }}
                {% for error in form.category.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.title.label }}<br>
                {{ form.title(val=previous_title, class="form-control") }}
                {% for error in form.title.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(val=previous_description, class="form-control") }}
                {% for error in form.description.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.resource_type.label }}<br>
                {{ form.resource_type(class="form-control") }}
                {% for error in form.resource_type.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.link.label }}<br>
                {{ form.link(class="form-control") }}
                {% for error in form.link.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.file.label }}<br>
                {{ form.file(class="form-control-file") }}
            </p>
            <p>
                <label>
                    Notify pitchers via email about this resource
                </label><br />
                <input id="notify-pitchers" name="notify-pitchers" type="checkbox" value="y" data-toggle="toggle"
                    data-on="Yes" data-off="No" /><br /><br />
                <label>
                <label>
                    Notify infielders via email about this resource
                </label><br />
                <input id="notify-infielders" name="notify-infielders" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                    data-off="No" /><br /><br />
                <label>
                <label>
                    Notify outfielders via email about this resource
                </label><br />
                <input id="notify-outfielders" name="notify-outfielders" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                    data-off="No" /><br /><br />
                <label>
                    Notify coaches via email about this resource
                </label><br />
                <input id="notify-coaches" name="notify-coaches" type="checkbox" value="y" data-toggle="toggle"
                    data-on="Yes" data-off="No" /><br /><br />
                <span class="errors" id="input-error"></span>
                {{ form.submit(class="btn btn-primary btn-lg btn-block", disabled="true") }}
            </p>
        </form>
    </div>
</div>
<script>
    // setup variables for different components of the form
    const category = $('#category');
    const title = $('#title');
    const description = $('#description');
    const resource_type = $('#resource_type');
    const link = $('#link');
    const file = $('#file');
    const input_error = $('#input-error');
    const submit_button = $('#submit');
    const notify_pitchers = $('#notify-pitchers');
    const notify_infielders = $('#notify-infielders');
    const notify_outfielders = $('#notify-outfielders');
    const notify_coaches = $('#notify-coaches');

    const show_submit = () => {
        submit_button.prop('disabled', !validate_form());
    };

    const is_url = url => {
        const expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
        const regex = new RegExp(expression);
        return url.match(regex);
    };

    // https://gist.github.com/jphase/9086823
    const is_youtube_url = url => {
        const expression = /(http:|https:)?\/\/(www\.)?(youtube.com|youtu.be)\/(watch)?(\?v=)?(\S+)?/;
        const regex = new RegExp(expression);
        return url.match(regex);
    };

    const validate_form = () => {
        input_error.text('');
        if (resource_type.val() === 'link' && (!link.val() || !is_url(link.val()))) {
            input_error.text('Please enter a valid URL to upload');
            return false;
        }
        if (resource_type.val() === 'video' && (!link.val() || !is_youtube_url(link.val()))) {
            input_error.text('Please enter a valid YouTube URL to upload');
            return false;
        }
        if (resource_type.val() === 'file' && !file.val()) {
            input_error.text('Please upload a file');
            return false;
        }
        return true;
    };

    file.change(show_submit);

    $('input').not('#submit').not('#title').not('#description').keyup(show_submit);

    resource_type.change(() => {
        show_submit();
        if (resource_type.val() == 'file') link.val('');
        else file.val('');
    });

    /**
    * Send a http request to have an email sent to notify coaches/players about a new resource
    */
    const send_new_resource_email = (pitchers = false, infielders = false, outfielders = false, coaches = false, title = '', description = '') => {
        // setup GET url
        send_email_url = `/resource/email?title=${title}&`;
        if (pitchers) send_email_url += 'pitchers=true&';
        if (infielders) send_email_url += 'infielders=true&';
        if (outfielders) send_email_url += 'outfielders=true&';
        if (coaches) send_email_url += 'coaches=true&';
        if (description) send_email_url += `description=${description}`;

        // send request to have email sent
        if (pitchers || infielders || outfielders || coaches) {
            $.ajax({
                type: 'GET',
                url: send_email_url
            }).done(response => {
                return true;
            }).fail((xhr, status, error) => {
                return false;
            });
        }
        return false;
    };

    submit_button.on('click', async () => {
        if (validate_form()) {
            submit_button.val('Creating Resource....');
            try {
                await $.ajax({
                    type: 'POST',
                    url: '/resource',
                    contentType: false,
                    processData: false,
                    data: new FormData($('form')[0])
                });
                submit_button.val('Success');
                if (notify_pitchers.prop('checked') ||
                    notify_infielders.prop('checked') || 
                    notify_outfielders.prop('checked') || 
                    notify_coaches.prop('checked')) {
                    send_new_resource_email(
                        notify_pitchers.prop('checked'),
                        notify_infielders.prop('checked'),
                        notify_outfielders.prop('checked'),
                        notify_coaches.prop('checked'),
                        title.val(),
                        description.val()
                    );
                }
                return window.location.href = '/resource/home';
            } catch (e) {
                console.log(e)
                if (e.responseText != "") input_error.text(e.responseText);
                submit_button.val('Create Resource');
            }
        }
    });
</script>
{% endblock %}