<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('resource.resource_home') }}">Home</a></li>
    <li><a class="sidenav-item" href="{{ url_for('resource.pitching_resources') }}">Pitching</a></li>
    <li><a class="sidenav-item" href="{{ url_for('resource.hitting_resources') }}">Hitting</a></li>
    <li><a class="sidenav-item" href="{{ url_for('resource.defense_resources') }}">Defense</a></li>
    <li><a class="sidenav-item" href="{{ url_for('resource.mental_game_resources') }}">Mental Game</a></li>
    <li><a class="sidenav-item" href="{{ url_for('resource.miscellaneous_resources') }}">Miscellaneous</a></li>
</ul>