{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        .main {
            font-family: 'Exo', sans-serif;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block app_content %}
    <div class="main">
        <h1></h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.current_password.label }}<br>
                {{ form.current_password(size=32) }}<br>
                {% for error in form.current_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}