{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        .main {
            font-family: 'Exo', sans-serif;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block app_content %}
    <div class="main">
        <h1></h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, value=user.username) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32, value=user.email) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}