{% extends "base.html" %}

{% block app_content %}
    <h1>
        WashU 2019-2020 Pitching Staff
    </h1>
    <h2>Players:</h2>
    <br>
    <div>
        {% for p in pitchers %}
        <p>
            <a href="{{ url_for('pitcher', id=p.id) }}">{{ p }}</a>
        </p>
        {% endfor %}
    </div>
    <h2>Seasons:</h2>
    <br>
    <div>
        {% for s in seasons %}
        <p>
            <a href="{{ url_for('season', id=s.id) }}">{{ s }}</a>
        </p>
        {% endfor %}
    </div>
    <h2>Batters:</h2>
    <br>
    <div>
        {% for b in batters %}
        <p>
            <a href="{{ url_for('batter', id=b.id) }}">{{ b.name }}</a>
        </p>
        {% endfor %}
    </div>
    <h2>Opponents:</h2>
    <br>
    <div>
        {% for o in opponents %}
        <p>
            <a href="{{ url_for('opponent', id=o.id) }}">{{ o }}</a>
        </p>
        {% endfor %}
    </div>
{% endblock %}