{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
    .main {
        text-align: center;
    }
    .main h1 {
        font-family: 'Exo', sans-serif;
        font-weight: 800;
    }
    .team-pic {
        width: 500px;
        height: auto;
        margin: 20px;
        border: 5px solid #bd2e1f;
    }
    .logos {
        width: 100px;
        height: auto;
    }
</style>
{% endblock %}

{% block app_content %}
    <div class="main">
        <h1>
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/Bear_Head_Color.png') }}">
            WashU Bears Pitching Staff
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/WashU_Color.png') }}">
            <br>
            
        </h1>
        <img class="team-pic" alt="Team Pic" src="{{ url_for('static', filename='images/Anthem.jpg') }}">
        <img class="team-pic" alt="Team Pic" src="{{ url_for('static', filename='images/Dom.jpg') }}">
    </div>
    
{% endblock %}