{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">Sign In</h1><br>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username(size=24, placeholder="Username", class="form-control") }}<br>
                {% for error in form.username.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(size=24, placeholder="Password", class="form-control") }}<br>
                {% for error in form.password.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</p>
        </form>
        <p>
            Forgot Your Password?
            <a href="">Click to Reset It</a>
        </p>
    </div>
</div>
{% endblock %}