{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/opponent_table.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div class="main">
        <h1>New Opponent</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <br>
            <table class='table' id='table'>
                <tr class="table-headers">
                    <th>Name</th>
                    <th>Initials/Number</th>
                    <th>Bats (R/L)</th>
                    <th>Graduation Year</th>
                    <th>Delete Row</th>
                </tr>
                {% for subform in form.batter %}
                <tr class='subform' id='batter-{{ loop.index0 }}-form' data-index='{{ loop.index0 }}'>
                    <td>
                        {{ subform.fullname(size=24) }}
                        {% for error in subform.fullname.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ subform.nickname(size=8) }}
                        {% for error in subform.nickname.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ subform.bats() }}
                        {% for error in subform.bats.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ subform.grad_year(size=8) }}
                        {% for error in subform.grad_year.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td><a class="delete" data-index="{{ loop.index0 }}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        <button id="add">Add Row</button>
    </div>
{% endblock %}