{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_opponent.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">New Team</h1>
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=64, maxlength=64, class="form-control") }}<br>
                {% for error in form.name.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.logo.label }}
                {{ form.logo(class="form-control-file") }}<br>
                {% for error in form.logo.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <i>
                Insert all the batters for the team below. Scroll down to insert the pitchers
                and submit the form.
            </i>
            <h3>Batters</h3>
            <table class="table" id="table">
                <tr class="table-headers">
                    <th class="long-input">Firstname</th>
                    <th class="long-input">Lastname</th>
                    <th class="short-input">Number</th>
                    <th class="short-input">Bats</th>
                    <th class="short-input">Grad Year</th>
                    <th class="checkbox-input">Inactive</th>
                    <th class="scouting-input">Scouting Notes</th>
                </tr>
                {% for subform in form.batters %}
                <tr class="subform" id="batter-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                    <td class="long-input">
                        {{ subform.firstname(maxlength="64", class="form-control") }}
                        {% for error in subform.firstname.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="long-input">
                        {{ subform.lastname(maxlength="64", class="form-control") }}
                        {% for error in subform.lastname.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="short-input">
                        {{ subform.number(type="number", class="form-control") }}
                        {% for error in subform.number.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="short-input">
                        {{ subform.bats(class="form-control") }}
                        {% for error in subform.bats.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="long-input">
                        {{ subform.grad_year(type="number", class="form-control") }}
                        {% for error in subform.grad_year.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="checkbox-input">
                        <input id="retired" name="retired" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                            data-off="No"><br>
                        {% for error in subform.retired.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="scouting-input">
                        {{ subform.notes(maxlength="1024", class="form-control") }}
                        {% for error in subform.notes.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h3>Pitchers</h3>
            <table class="table" id="table">
                <tr class="table-headers">
                    <th class="long-input">Firstname</th>
                    <th class="long-input">Lastname</th>
                    <th class="short-input">Number</th>
                    <th class="short-input">Throws</th>
                    <th class="short-input">Grad Year</th>
                    <th class="checkbox-input">Inactive</th>
                    <th class="scouting-input">Scouting Notes</th>
                </tr>
                {% for subform in form.pitchers %}
                <tr class="subform" id="batter-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                    <td class="long-input">
                        {{ subform.firstname(maxlength="64", class="form-control") }}
                        {% for error in subform.firstname.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="long-input">
                        {{ subform.lastname(maxlength="64", class="form-control") }}
                        {% for error in subform.lastname.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="short-input">
                        {{ subform.number(type="number", class="form-control") }}
                        {% for error in subform.number.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="short-input">
                        {{ subform.throws(class="form-control") }}
                        {% for error in subform.throws.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="long-input">
                        {{ subform.grad_year(type="number", class="form-control") }}
                        {% for error in subform.grad_year.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="checkbox-input">
                        <input id="retired" name="retired" type="checkbox" value="y" data-toggle="toggle" data-on="Yes"
                            data-off="No"><br> {% for error in subform.retired.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td class="scouting-input">
                        {{ subform.notes(maxlength="1024", class="form-control") }}
                        {% for error in subform.notes.errors %}
                        <span class="errors">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</div>
{% endblock %}