{% extends "base.html" %}

{% block app_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/opponent_table.js') }}"></script>

    <h1>New Opponent</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Batters</div>
            <div class="panel-body">
                <p>This is where you insert players for a specific opponent/team</p>
            </div>
            <table class='table' id='table'>
                <tr>
                    <th>Name</th>
                    <th>Initials/Number</th>
                    <th>Bats (R/L)</th>
                </tr>
                {% for subform in form.batter %}
                <tr class='subform' id='batter-{{ loop.index0 }}-form' data-index='{{ loop.index0 }}'>
                    <td>
                        {{ subform.fullname(size=24) }}
                        {% for error in subform.fullname.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ subform.nickname(size=8) }}
                        {% for error in subform.nickname.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ subform.bats() }}
                        {% for error in subform.bats.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td><a class="delete" data-index="{{ loop.index0 }}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <button id="add">Add Row</button>

{% endblock %}