{% extends "base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block app_content %}
{% include "opponent/opponent_sidenav.html" %}
<div class="main">
    {% include "opponent/opponent_title.html" %}
    <div class="row" style="text-align: center;">
        <h1>
            Inactive Roster
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table sortable_table">
                <tr class="table-headers">
                    <th>Full Name</th>
                    <th>Short Name</th>
                    <th>Bats</th>
                    <th>Grad Year</th>
                </tr>
                {% for b in opponent.batters %}
                    {% if b.retired in ["1", 1] %}
                        <tr>
                            <td><a href="{{ url_for('batter.batter_home', id=b.id) }}">{{ b }}</a></td>
                            <td>{{ b.abrev_name() }}</td>
                            <td>{{ b.bats }}</td>
                            <td>{{ b.grad_year }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>


</div>
{% endblock %}