<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('opponent.opponent_home', id=opponent.id) }}">Home</a></li>
    <!-- <li><a class="sidenav-item" href="{{ url_for('opponent.opponent_roster', id=opponent.id) }}">Roster</a></li> -->
    <li><a class="sidenav-item" href="{{ url_for('opponent.opponent_games_results', id=opponent.id) }}">Games Against</a></li>
    <li><a class="sidenav-item" href="{{ url_for('opponent.opponent_scouting_stats', opponent_id=opponent.id) }}">Scouting/Stats</a></li>
    <li><a class="sidenav-item" href="{{ url_for('opponent.opponent_inactive_hitters', id=opponent.id) }}">Inactive Roster</a></li>
    {% if current_user.admin %}
        <li><a class="sidenav-item" href="{{ url_for('opponent.edit_opponent', id=opponent.id) }}">Edit</a></li>
    {% endif %}
</ul>