{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
{% endblock %}

{% block app_content %}
    {% include "pitcher/pitcher_sidenav.html" %}
    <div class="main">
        {% include "pitcher/pitcher_title.html" %} 
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }} {# Preventing CSRF attacks #}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(value = pitcher.name) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(value = pitcher.firstname) }}
                {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(value = pitcher.lastname) }}
                {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.number.label }}<br>
                {{ form.number(value = pitcher.number) }}
                {% for error in form.number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.throws.label }}<br>
                <select id="throws" name="throws">
                    <option value="R" {% if pitcher.throws == 'R' %} selected='selected' {% endif %}>R</option>
                    <option value="L" {% if pitcher.throws == 'L' %} selected='selected' {% endif %}>L</option>
                </select>
                {% for error in form.throws.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.grad_year.label }}<br>
                {{ form.grad_year(size=32, value=pitcher.grad_year) }}
                {% for error in form.grad_year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.opponent.label }}<br>
                <select id="opponent" name="opponent">
                    {% for o in opponents %}
                        <option value="{{o.id}}" {% if pitcher.opponent_id==o.id %} selected {% endif %}>{{ o }}</option>
                    {% endfor %}
                </select>
                {% for error in form.opponent.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.retired.label }}<br>
                {{ form.retired() }}
                {% for error in form.retired.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.file.label }} <br>
                MUST BE PNG FILE TYPE
                {{ form.file() }}
                {% for error in form.file.errors %}
                    <span style="color: red;">[{{ error }}] </span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}