{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkbox_table.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script>
        function calc_totals(){
            let data_table = document.getElementById("basic-stat-season-table");
            let data_rows = data_table.getElementsByClassName("data-row");

            let sums = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

            for(var i = 0; i < data_rows.length; i++){
                if(data_rows[i].style.display != "none"){
                    data_items = data_rows[i].getElementsByTagName("td");
                    for(var j = 3; j < data_items.length; j++){
                        if(isNaN(Number(data_items[j].innerHTML)) == false){
                            sums[j-3] += Number(data_items[j].innerHTML);
                        }
                    }
                }
            }

            // calculate kp9 and bb9
            sums[11] = (sums[9]+sums[10])/ sums[0] * 9;
            sums[12] = (sums[7]/sums[0]) * 9

            let totals_row = document.createElement("tr");
            totals_row.classList.add("sum-row");
            let blank1 = document.createElement("td");
            blank1.innerText = "Totals"
            let blank2 = document.createElement("td");
            let blank3 = document.createElement("td");
            totals_row.appendChild(blank1);
            totals_row.appendChild(blank2);
            totals_row.appendChild(blank3);
            for(var i = 0; i < sums.length; i++){
                let table_data = document.createElement("td");
                var truncate_nums = [0,11,12]
                var division_nums = [11,12]
                if(truncate_nums.includes(i)){
                    table_data.innerText = sums[i].toFixed(2);
                    table_data.innerHTML = sums[i].toFixed(2);
                } else {
                    table_data.innerText = sums[i].toFixed(0);
                    table_data.innerHTML = sums[i].toFixed(0);
                }
                
                totals_row.appendChild(table_data);
            }
            document.getElementsByClassName("sum-row")[0].parentNode.removeChild(document.getElementsByClassName("sum-row")[0]);
            data_table.appendChild(totals_row);
        }
    </script>
{% endblock %}

{% block app_content %}
    {% include "pitcher/pitcher_sidenav.html" %}
    <div class="main">
        <h1>
            {{ pitcher }}
        </h1>
        <br>
        <div>
            <h4>Stat Line by Outing Over Career</h4>
            <p>
                <h6>Select Season(s):</h6>
                <!-- setup checkbox based logic -->
                <div id="season-checkbox">
                    {% for season in seasons %}
                        <p>
                            <input type="checkbox" onclick="checkbox_table('basic-stat-season-table', 'season-checkbox', 2); calc_totals()" value="{{ season }}">{{ season }}</input>
                        </p>
                    {% endfor %}
                </div>
                <!-- end checkbox based logic -->
            </p>
            <table class="table tables sortable_table" id="basic-stat-season-table">
                <tr class="table-headers">
                    <th onclick="sortTable(0, 0, 2)">Date</th>
                    <th onclick="sortTable(1, 0, 2)">Opponent</th>
                    <th onclick="sortTable(2, 0, 2)">Season</th>
                    <th onclick="sortTable(3, 0, 2)">IP</th>
                    <th onclick="sortTable(4, 0, 2)">H</th>
                    <th onclick="sortTable(5, 0, 2)">1B</th>
                    <th onclick="sortTable(6, 0, 2)">2B</th>
                    <th onclick="sortTable(7, 0, 2)">3B</th>
                    <th onclick="sortTable(8, 0, 2)">HR</th>
                    <th onclick="sortTable(9, 0, 2)">E</th>
                    <th onclick="sortTable(10, 0, 2)">BB</th>
                    <th onclick="sortTable(11, 0, 2)">HBP</th>
                    <th onclick="sortTable(12, 0, 2)">K</th>
                    <th onclick="sortTable(13, 0, 2)">KL</th>
                    <th onclick="sortTable(14, 0, 2)">K/9</th>
                    <th onclick="sortTable(15, 0, 2)">BB/9</th>
                    <th onclick="sortTable(16, 0, 2)">P</th>
                    <th onclick="sortTable(17, 0, 2)">BF</th>
                </tr>
                {% for outing in outing_stat_line %}
                    <tr class="data-row">
                        <td>{{ outing["details"]["date"].month }}/{{ outing["details"]["date"].day }}/{{ outing["details"]["date"].year }}</td>
                        <td>{{ outing["details"]["opponent"] }}</td>
                        <td>{{ outing["details"]["season"] }}</td>
                        <td>{{ outing["stat_line"]["ip"] }}</td>
                        <td>{{ outing["stat_line"]["h"] }}</td>
                        <td>{{ outing["stat_line"]["1b"] }}</td>
                        <td>{{ outing["stat_line"]["2b"] }}</td>
                        <td>{{ outing["stat_line"]["3b"] }}</td>
                        <td>{{ outing["stat_line"]["hr"] }}</td>
                        <td>{{ outing["stat_line"]["e"] }}</td>
                        <td>{{ outing["stat_line"]["bb"] }}</td>
                        <td>{{ outing["stat_line"]["hbp"] }}</td>
                        <td>{{ outing["stat_line"]["k"] }}</td>
                        <td>{{ outing["stat_line"]["kl"] }}</td>
                        <td>{{ outing["stat_line"]["kp9"] }}</td>
                        <td>{{ outing["stat_line"]["bb9"] }}</td>
                        <td>{{ outing["stat_line"]["p"] }}</td>
                        <td>{{ outing["stat_line"]["bf"] }}</td>
                    </tr>
                {% endfor %}
                <tr class="sum-row">
                    <td>Totals</td>
                    <td></td>
                    <td></td>
                    <td>{{ season_stat_line["ip"] }}</td>
                    <td>{{ season_stat_line["h"] }}</td>
                    <td>{{ season_stat_line["1b"] }}</td>
                    <td>{{ season_stat_line["2b"] }}</td>
                    <td>{{ season_stat_line["3b"] }}</td>
                    <td>{{ season_stat_line["hr"] }}</td>
                    <td>{{ season_stat_line["e"] }}</td>
                    <td>{{ season_stat_line["bb"] }}</td>
                    <td>{{ season_stat_line["hbp"] }}</td>
                    <td>{{ season_stat_line["k"] }}</td>
                    <td>{{ season_stat_line["kl"] }}</td>
                    <td>{{ season_stat_line["kp9"] }}</td>
                    <td>{{ season_stat_line["bb9"] }}</td>
                    <td>{{ season_stat_line["p"] }}</td>
                    <td>{{ season_stat_line["bf"] }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}