{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
        #recent-outings {
            width: 300px;
        }
        .pitcher-picture {
            float: right;
            border: 5px solid #bd2e1f;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.getElementById('velo-over-career').getContext('2d');
            ctx.canvas.parentNode.style.width = '800px';
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: [
                        {% for o in outings %}
                            "{{o.getDate()}}",
                        {% endfor %}
                    ],
                    datasets: [{
                        label: 'FB',
                        borderColor: 'rgb(230, 25, 75)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velo_over_career['FB'] %}
                                {{v}},
                            {% endfor %}
                        ]
                    },{
                        label: 'SM',
                        borderColor: 'rgb(0, 128, 128)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velo_over_career['SM'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    }
                    ]
                },

                // Configuration options go here
                options: {
                    spanGaps: true,
                    scales: {
                        xAxes: [{
                            ticks: {
                                autoSkip: false,
                                maxRotation: 90,
                                minRotation: 45
                            }
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block app_content %}
    {% include "pitcher/pitcher_sidenav.html" %}
    <div class="main">
        <img class="pitcher-picture" alt="Picture" src="{{ url_for('static', filename=file_loc) }}">
        <h1>
            {{ pitcher }}
        </h1>
        <br>
        <div id="recent-outings">
            <h4>Recent Outings</h4>
            <table class="table" id="recent-outings">
                <tr class="table-headers">
                    <th width=20px></th>
                    <th>Date</th>
                    <th>Opponent</th>
                </tr>
                {% for o in recent_outings %}
                    <tr>
                        <td><a href="{{ url_for('outing.outing_home', id=o.id) }}">View</a></td>
                        <td>{{ o.date.month }}/{{ o.date.day }}/{{ o.date.year }}</td>
                        <td>{{ o.opponent }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <h4>Velo Over Career</h4>
        <canvas id="velo-over-career">
        </canvas>
        <br>
    </div>
{% endblock %}