{% extends "base.html" %}

{% block styles %}
{{ super() }}
<script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3_strikezone/d3_strikezone-1.0.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        setup_dynamic_zone();
    });

    function setup_dynamic_zone(){
        let test_zone = new dynamic_scouting_strikezone("test-strikezone", "test-strikezone-table");
        let complex_data = {{dynamic_data|tojson}};
        test_zone.provideData(complex_data);

    }

</script>
{% endblock %}

{% block app_content %}
{% include "pitcher/pitcher_sidenav.html" %}
<div class="main">
    {% include "pitcher/pitcher_title.html" %}

    <div class="row text-center">
        <h1>Swing and Whiff Rates by Pitch Location and Type</h1>
    </div>
<div class="row">
    <div class="col-md-6 col-xs-12" id="test-strikezone"></div>
    <div class="col-md-6 col-xs-12" id="test-strikezone-table"></div>
</div>
</div>
{% endblock %}