{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
<style>
    .video-title {
        font-size: 25px;
    }
    .video-div {
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        padding-right: 50px;
        padding-bottom: 25px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        select_season = document.getElementById("season-selector");
        select_season.addEventListener("change", function() {
            updateVideos();
        });
    });

    function updateVideos() {
        select_s
    }

</script>
{% endblock %}

{% block app_content %}
    {% include "pitcher/pitcher_sidenav.html" %}
    <div class="main">
        <h1>{{ pitcher }} - Videos</h1>
        <br>
        <div style="font-size: 20px;">
            Season:
            <select id="season-selector">
                {% for season in seasons %}
                    <option value="{{ season.id }}">{{ season }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            {% for video in videos %}
                <div class="video-div">
                    <iframe width="352" height="198" src="https://www.youtube-nocookie.com/embed/{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                    <div class="video-title">{{video_objects[loop.index0]}}</div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
