{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/season_selector.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
{% endblock %}

{% block app_content %}
    {% include "pitcher/pitcher_sidenav.html" %}
    <div class="main">
        <h1>
            {{ pitcher }}
        </h1>
        <br>
        <div>
            <h4>Stat Line by Outing Over Career</h4>
            <table class="table tables sortable_table">
                <tr class="table-headers">
                    <th onclick="sortTable(0, 0)">Date</th>
                    <th onclick="sortTable(1, 0)">Opponent</th>
                    <th onclick="sortTable(2, 0)">Season</th>
                    <th onclick="sortTable(3, 0)">IP</th>
                    <th onclick="sortTable(4, 0)">H</th>
                    <th onclick="sortTable(5, 0)">1B</th>
                    <th onclick="sortTable(6, 0)">2B</th>
                    <th onclick="sortTable(7, 0)">3B</th>
                    <th onclick="sortTable(8, 0)">HR</th>
                    <th onclick="sortTable(9, 0)">E</th>
                    <th onclick="sortTable(10, 0)">BB</th>
                    <th onclick="sortTable(11, 0)">HBP</th>
                    <th onclick="sortTable(12, 0)">K</th>
                    <th onclick="sortTable(13, 0)">KL</th>
                    <th onclick="sortTable(14, 0)">K/9</th>
                    <th onclick="sortTable(15, 0)">BB/9</th>
                    <th onclick="sortTable(16, 0)">P</th>
                    <th onclick="sortTable(17, 0)">BF</th>
                </tr>
                {% for outing in outing_stat_line %}
                    <tr class="data-row">
                        <td>{{ outing["details"]["date"] }}</td>
                        <td>{{ outing["details"]["opponent"] }}</td>
                        <td>{{ outing["details"]["season"] }}</td>
                        <td>{{ outing["stat_line"]["ip"] }}</td>
                        <td>{{ outing["stat_line"]["h"] }}</td>
                        <td>{{ outing["stat_line"]["1b"] }}</td>
                        <td>{{ outing["stat_line"]["2b"] }}</td>
                        <td>{{ outing["stat_line"]["3b"] }}</td>
                        <td>{{ outing["stat_line"]["hr"] }}</td>
                        <td>{{ outing["stat_line"]["e"] }}</td>
                        <td>{{ outing["stat_line"]["bb"] }}</td>
                        <td>{{ outing["stat_line"]["hbp"] }}</td>
                        <td>{{ outing["stat_line"]["k"] }}</td>
                        <td>{{ outing["stat_line"]["kl"] }}</td>
                        <td>{{ outing["stat_line"]["kp9"] }}</td>
                        <td>{{ outing["stat_line"]["bb9"] }}</td>
                        <td>{{ outing["stat_line"]["p"] }}</td>
                        <td>{{ outing["stat_line"]["bf"] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Career Totals</td>
                    <td></td>
                    <td></td>
                    <td>{{ season_stat_line["ip"] }}</td>
                    <td>{{ season_stat_line["h"] }}</td>
                    <td>{{ season_stat_line["1b"] }}</td>
                    <td>{{ season_stat_line["2b"] }}</td>
                    <td>{{ season_stat_line["3b"] }}</td>
                    <td>{{ season_stat_line["hr"] }}</td>
                    <td>{{ season_stat_line["e"] }}</td>
                    <td>{{ season_stat_line["bb"] }}</td>
                    <td>{{ season_stat_line["hbp"] }}</td>
                    <td>{{ season_stat_line["k"] }}</td>
                    <td>{{ season_stat_line["kl"] }}</td>
                    <td>{{ season_stat_line["kp9"] }}</td>
                    <td>{{ season_stat_line["bb9"] }}</td>
                    <td>{{ season_stat_line["p"] }}</td>
                    <td>{{ season_stat_line["bf"] }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}