<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_home', id=pitcher.id) }}">Pitcher Home</a></li>
    <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_outings', id=pitcher.id) }}">Outings</a></li>
    <!-- <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_stats_basic', id=pitcher.id) }}">Basic Stats</a></li> -->
    <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_stats_advanced', id=pitcher.id) }}">Advanced Stats</a>
    </li>
    <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_scouting', id=pitcher.id) }}">Scouting</a></li>
    <li><a class="sidenav-item" href="{{ url_for('pitcher.pitcher_videos', id=pitcher.id) }}">Videos</a></li>
    {% if current_user.admin %}
    <li><a class="sidenav-item" href="{{ url_for('pitcher.edit_pitcher', id=pitcher.id) }}">Edit Pitcher</a></li>
    {% endif %}
</ul>