.errors {
    color: #bd2e1f;
}

h1 {
    text-align: center;
    color: #bd2e1f;
    font-weight: 700;
}

.opponent-title {
    font-size: 20px;
}

.form-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    padding-left: 5px;
    border: 5px solid #bd2e1f;
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 5px;
}

input, select, option {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button a {
    color: #333;
}

button a:hover {
    text-decoration: none;
    color: #333;
}

a {
    color: #bd2e1f;
}

a:hover {
    color: #bd2e1f;
}

.file-input {
    width: 170px;
    margin-left: 30%;
    margin-right: auto;
}
