.no-sidenav {
    text-align: center;
}
.no-sidenav h1 {
    font-weight: 800;
}
.icons {
    width: 150px;
    height: 150px;
    margin: 20px;
}
.icon-div {
    display: inline-block;
    margin: 20px;
    border: 5px solid #bd2e1f;
    background-color: rgba(0,0,0,0.1);
}
.logos {
    width: 100px;
    height: auto;
}
.title {
    font-size: 60px;
}
.icon-path {
    fill: #bd2e1f;
}
.icon-title {
    color: #bd2e1f;
    text-align: center;
    font-size: 25px;
}
.links:hover {
    text-decoration: none;
}
.icon-div:active .icon-path {
    fill: rgba(255,255,255,0.8)
}
.icon-div:active .icon-title {
    color: rgba(255,255,255,0.8)
}
.icon-div:hover {
    box-shadow: inset 0 0 30px rgba(0,0,0,.4);
}