{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div class="main">
        <h1>Edit Hitter</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }} {# Preventing CSRF attacks #}
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=32, value=batter.firstname) }}
                {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=32, value=batter.lastname) }}
                {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.number.label }}<br>
                {{ form.number(size=32, type='number', value=batter.number) }}
                {% for error in form.number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.nickname.label }}<br>
                {{ form.nickname(size=32, value=batter.short_name) }}
                {% for error in form.nickname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.bats.label }}<br>
                <select id="bats" name="bats">
                    <option value="R" {% if batter.bats == 'R' %} selected='selected' {% endif %}>R</option>
                    <option value="L" {% if batter.bats == 'L' %} selected='selected' {% endif %}>L</option>
                    <option value="S" {% if batter.bats == 'S' %} selected='selected' {% endif %}>S</option>
                </select>
                {% for error in form.bats.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.grad_year.label }}<br>
                {{ form.grad_year(size=32, value=batter.grad_year) }}
                {% for error in form.grad_year.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.retired.label }}<br>
                {% if batter.retired %}
                    {{ form.retired(checked='checked') }}
                {% else %}
                    {{ form.retired() }}
                {% endif %}
                {% for error in form.retired.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
            <a href="{{ url_for('batter.delete_batter', id=batter.id) }}">Delete Batter</a>
        </form>
    </div>
{% endblock %}