<ul class="sidenav">
    <li><a class="sidenav-item" href="{{ url_for('hitters.hitters_home') }}">Team Roster</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_home', id=batter.id) }}">Hitter Home</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_at_bats', batter_id=batter.id) }}">At Bats</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_games', batter_id=batter.id) }}">Games</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_videos', id=batter.id) }}">Videos</a></li>
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_spray_chart', batter_id=batter.id) }}">Sprays</a></li>
    <!-- <li><a class="sidenav-item" href="{{ url_for('batter.batter_sequencing', batter_id=batter.id) }}">Sequencing</a></li> -->
    <li><a class="sidenav-item" href="{{ url_for('hitter.hitter_stats', batter_id=batter.id) }}">Stats</a></li>
    {% if current_user.admin %}
        <li><a class="sidenav-item" href="{{ url_for('batter.edit_batter', id=batter.id) }}">Edit Batter</a></li>
    {% endif %}
</ul>