{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
<script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
<script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
<script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3_strikezone.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3_field.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function(){

    implement_zone_tracker();
    implement_spray_tracker();
});

function implement_spray_tracker(){

    // setup trajectory legend
    // setup legend variables
    let field_legend_svg = new field_legend("field-legend-div");
    let field_svg = new field("field-div");


        let hits = {{ hits|tojson }};

        hits.forEach(function(hit){
            if(hit.x != null && hit.y !=null){
                field_svg.drawCircle(hit.x, hit.y, hit.traj, hit.hard_hit);
            }
            
        });

}

function implement_zone_tracker(){

    var zone_legend = new strikezone_legend("zone-legend-div");
    var zone = new strikezone("zone-div");
    var rhp_zone = new strikezone("rhp-zone-div");
    var lhp_zone = new strikezone("lhp-zone-div");
    // get pitches data from server
    var pitches = {{ pitches|tojson }};
    
    // for each pitch from server, add circle in chart
    pitches.forEach(function(pitch){
        if(pitch.x != null && pitch.y != null){
            zone.drawCircle(pitch.x, pitch.y, pitch_type=pitch.pitch_type, pitch.pitch_num);

            if(pitch.pitcher_hand == "R"){
                rhp_zone.drawCircle(pitch.x, pitch.y, pitch_type=pitch.pitch_type, pitch.pitch_num);
            }
            else if(pitch.pitcher_hand == "L"){
                lhp_zone.drawCircle(pitch.x, pitch.y, pitch_type=pitch.pitch_type, pitch.pitch_num);
            }
        }
    });
}

</script>
{% endblock %}

{% block app_content %}
{% include "hitters/hitter/hitter_sidenav.html" %}
<div class="main">
    <h1>
        {{ batter.name() }} - {{ game }}
    </h1>
    <div>
        <div>
            <h3>Pitches Seen</h3>
            <table class="table">
                <tr class="table-headers">
                    <th>Pitch index</th>
                    <th>Pitcher</th>
                    <th>Outing Pitch Num</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>Count</th>
                    <th>AB Result</th>
                    <th>GB/FB/LD</th>
                    <th>Fielder</th>
                    <th>Hit Hard?</th>
                    <th>Inning</th>
                </tr>
                {% set count = [1] %}
                {% for at_bat in game_at_bats %}
                    {% if (loop.index % 2 == 0) %}
                        {% set color="#ececec" %}
                    {% else %}
                        {% set color="white" %}
                    {% endif %}
                    {% for pitch in at_bat.pitches %}
                        <tr style="background-color: {{ color }};">
                            <td>{{ count[0] }}</td> {% if count.append(count.pop() + 1) %}{% endif %}
                            <td>{{ at_bat.get_pitcher() }}</td>
                            <td>{{ pitch.pitch_num }}</td>
                            {% if pitch.velocity not in ["None", None] %}
                                <td>{{ pitch.velocity }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.lead_runner }}</td>
                            {% if pitch.time_to_plate not in ["None", None] %}
                                <td>{{ pitch.time_to_plate }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.pitch_type }}</td>
                            <td>{{ pitch.pitch_result }}</td>
                            {% if pitch.hit_spot %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.count }}</td>
                            <td>{{ pitch.ab_result }}</td>
                            <td>{{ pitch.traj }}</td>
                            <td>{{ pitch.fielder }}</td>
                            {% if pitch.hit_hard %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.inning }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6" id="pitch-location" style="text-align: center; float: left; width: 50%;">
                    <h4 style="text-align: center;">Pitch Locations</h4>
                    <p>The color of the circle represents the type of pitch that was thrown. The
                        number inside the circle represents the pitch index of the pitch.</p>
                    <div id="zone-legend-div"></div>
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active tabs"><a data-toggle="tab" href="#all-pitches">All Pitches</a></li>
                            <li class="tabs"><a data-toggle="tab" href="#rhp-pitches">Pitches vs RHP</a></li>
                            <li class="tabs"><a data-toggle="tab" href="#lhp-pitches">Pitches vs LHP</a></li>
                        </ul>
                    </div>
                    <div class="row tab-content">
                        <div class="tab-pane fade in active" id="all-pitches">
                            <div id="zone-div"></div>
                        </div>
                        <div class="tab-pane fade" id="rhp-pitches">
                            <div id="rhp-zone-div"></div>
                        </div>
                        <div class="tab-pane fade" id="lhp-pitches">
                            <div id="lhp-zone-div"></div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-md-6" id="spray-location" style="text-align: center;">
                    <h4 style="text-align: center;">Spray Locations</h4>
                    <div id=field-legend-div></div>
                    <br>
                    <div id='field-div'></div>
                </div>
            </div>
            
        </div>
        
        

    </div>
</div>
{% endblock %}