{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    {#https://www.rmedgar.com/blog/dynamic_fields_flask_wtf#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/pitch_table.js') }}"></script>
{% endblock %}

{% block app_content %}
<div class="main">
    <h1>Edit Outing</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }} {# Preventing CSRF attacks #}
        <table class='table' id="table">
            <tr class="table-headers">
                <th>Pitch</th>
                <th>Batter</th>
                <th>Velo</th>
                <th>Lead RNR</th>
                <th>Time to Plate</th>
                <th>Pitch Type</th>
                <th>Roll Through</th>
                <th>Short Set</th>
                <th>Pitch Result</th>
                <th>Hit Spot?</th>
                <th>AB Result</th>
                <th>GB/LD/FB</th>
                <th>Fielder</th>
                <th>Hit Hard?</th>
                <th>Inning</th>
                <th>loc_x</th>
                <th>loc_y</th>
                <th>spray_x</th>
                <th>spray_y</th>
                <th>Notes</th>
                <th>Delete Row</th>
            </tr>
            {% for at_bat in outing.at_bats %}
                {% for pitch in at_bat.pitches %}
                    <tr class='subform' id="pitch-{{ pitch.pitch_num-1 }}-form" data-index='{{ pitch.pitch_num-1 }}'>
                        <td>{{ pitch.pitch_num }}</td>
                        <td>
                            <select id="pitch-{{ pitch.pitch_num-1 }}-batter_id" name="pitch-{{ pitch.pitch_num-1 }}-batter_id">
                            {% for batter in opponent.batters %}
                                <option value="{{ batter.id }}" {% if pitch.batter_id==batter.id %} selected='selected' {% endif %}>{{ batter }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            {% if pitch.velocity == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-velocity" name="pitch-{{ pitch.pitch_num-1 }}-velocity" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-velocity" name="pitch-{{ pitch.pitch_num-1 }}-velocity" size="4" type="text" value="{{ pitch.velocity }}">
                            {% endif %}
                        </td>
                        <td>
                            <select id="pitch-{{pitch.pitch_num-1}}-lead_runner" name="pitch-{{pitch.pitch_num-1}}-lead_runner" required>
                                <option value="" {% if pitch.lead_runner==None %} selected='selected' {% endif %}></option>
                                <option value="1" {% if pitch.lead_runner==1 %} selected='selected' {% endif %}>1</option>
                                <option value="2" {% if pitch.lead_runner==2 %} selected='selected' {% endif %}>2</option>
                                <option value="3" {% if pitch.lead_runner==3 %} selected='selected' {% endif %}>3</option>
                            </select>
                        </td>
                        <td>
                            {% if pitch.time_to_plate == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-time_to_plate" name="pitch-{{ pitch.pitch_num-1 }}-time_to_plate" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-time_to_plate" name="pitch-{{ pitch.pitch_num-1 }}-time_to_plate" size="4" type="text" value="{{ pitch.time_to_plate }}">
                            {% endif %}
                        </td>
                        <td>
                            <select id="pitch-{{pitch.pitch_num-1}}-pitch_type" name="pitch-{{pitch.pitch_num-1}}-pitch_type" required>
                                <option value="1" {% if pitch.pitch_type==1 %} selected='selected' {% endif %}>1</option>
                                <option value="2" {% if pitch.pitch_type==2 %} selected='selected' {% endif %}>2</option>
                                <option value="3" {% if pitch.pitch_type==3 %} selected='selected' {% endif %}>3</option>
                                <option value="4" {% if pitch.pitch_type==4 %} selected='selected' {% endif %}>4</option>
                                <option value="5" {% if pitch.pitch_type==5 %} selected='selected' {% endif %}>5</option>
                                <option value="7" {% if pitch.pitch_type==7 %} selected='selected' {% endif %}>7</option>
                            </select>
                        </td>
                        <td>
                            {% if pitch.roll_through %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-roll_through" name="pitch-{{ pitch.pitch_num-1 }}-roll_through" type="checkbox" checked>
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-roll_through" name="pitch-{{ pitch.pitch_num-1 }}-roll_through" type="checkbox">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.short_set %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-short_set" name="pitch-{{ pitch.pitch_num-1 }}-short_set" type="checkbox" checked>
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-short_set" name="pitch-{{ pitch.pitch_num-1 }}-short_set" type="checkbox">
                            {% endif %}
                        </td>
                        <td>
                            <select id="pitch-{{pitch.pitch_num-1}}-pitch_result" name="pitch-{{pitch.pitch_num-1}}-pitch_result" required>
                                <option value="B" {% if pitch.pitch_result=='B' %} selected='selected' {% endif %}>B</option>
                                <option value="CS" {% if pitch.pitch_result=='CS' %} selected='selected' {% endif %}>CS</option>
                                <option value="SS" {% if pitch.pitch_result=='SS' %} selected='selected' {% endif %}>SS</option>
                                <option value="F" {% if pitch.pitch_result=='F' %} selected='selected' {% endif %}>F</option>
                                <option value="IP" {% if pitch.pitch_result=='IP' %} selected='selected' {% endif %}>IP</option>
                            </select>
                        </td>
                        <td>
                            {% if pitch.hit_spot %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-hit_spot" name="pitch-{{ pitch.pitch_num-1 }}-hit_spot" type="checkbox" checked>
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-hit_spot" name="pitch-{{ pitch.pitch_num-1 }}-hit_spot" type="checkbox">
                            {% endif %}
                        </td>
                        <td>
                            <select id="pitch-{{ pitch.pitch_num-1 }}-ab_result" name="pitch-{{ pitch.pitch_num-1 }}-ab_result" required>
                                <option value="" {% if pitch.ab_result==None %} selected='selected' {% endif %}></option>
                                <option value="IP->Out" {% if pitch.ab_result=='IP->Out' %} selected='selected' {% endif %}>IP->Out</option>
                                <option value="K" {% if pitch.ab_result=='K' %} selected='selected' {% endif %}>K</option>
                                <option value="KL" {% if pitch.ab_result=='KL' %} selected='selected' {% endif %}>KL</option>
                                <option value="BB" {% if pitch.ab_result=='BB' %} selected='selected' {% endif %}>BB</option>
                                <option value="HBP" {% if pitch.ab_result=='HBP' %} selected='selected' {% endif %}>HBP</option>
                                <option value="1B" {% if pitch.ab_result=='1B' %} selected='selected' {% endif %}>1B</option>
                                <option value="2B" {% if pitch.ab_result=='2B' %} selected='selected' {% endif %}>2B</option>
                                <option value="3B" {% if pitch.ab_result=='3B' %} selected='selected' {% endif %}>3B</option>
                                <option value="HR" {% if pitch.ab_result=='HR' %} selected='selected' {% endif %}>HR</option>
                                <option value="Error" {% if pitch.ab_result=='Error' %} selected='selected' {% endif %}>Error</option>
                                <option value="CI" {% if pitch.ab_result=='CI' %} selected='selected' {% endif %}>CI</option>
                                <option value="FC" {% if pitch.ab_result=='FC' %} selected='selected' {% endif %}>FC</option>
                                <option value="D3->Out" {% if pitch.ab_result=='D3->Out' %} selected='selected' {% endif %}>D3->Out</option>
                                <option value="D3->Safe" {% if pitch.ab_result=='D3->Safe' %} selected='selected' {% endif %}>D3->Safe</option>
                                <option value="Other" {% if pitch.ab_result=='Other' %} selected='selected' {% endif %}>Other</option>
                            </select>
                        </td>
                        <td>
                            <select id="pitch-{{ pitch.pitch_num-1 }}-traj" name="pitch-{{ pitch.pitch_num-1 }}-traj" required>
                                <option value="" {% if pitch.traj==None %} selected='selected' {% endif %}></option>
                                <option value="GB" {% if pitch.traj=='GB' %} selected='selected' {% endif %}>GB</option>
                                <option value="LD" {% if pitch.traj=='LD' %} selected='selected' {% endif %}>LD</option>
                                <option value="FB" {% if pitch.traj=='FB' %} selected='selected' {% endif %}>FB</option>
                            </select>
                        </td>
                        <td>
                            <select id="pitch-{{ pitch.pitch_num-1 }}-fielder" name="pitch-{{ pitch.pitch_num-1 }}-fielder" required>
                                <option value="" {% if pitch.fielder==None %} selected='selected' {% endif %}></option>
                                <option value="1" {% if pitch.fielder==1 %} selected='selected' {% endif %}>1</option>
                                <option value="2" {% if pitch.fielder==2 %} selected='selected' {% endif %}>2</option>
                                <option value="3" {% if pitch.fielder==3 %} selected='selected' {% endif %}>3</option>
                                <option value="4" {% if pitch.fielder==4 %} selected='selected' {% endif %}>4</option>
                                <option value="5" {% if pitch.fielder==5 %} selected='selected' {% endif %}>5</option>
                                <option value="6" {% if pitch.fielder==6 %} selected='selected' {% endif %}>6</option>
                                <option value="7" {% if pitch.fielder==7 %} selected='selected' {% endif %}>7</option>
                                <option value="8" {% if pitch.fielder==8 %} selected='selected' {% endif %}>8</option>
                                <option value="9" {% if pitch.fielder==9 %} selected='selected' {% endif %}>9</option>
                            </select>
                        </td>
                        <td>
                            {% if pitch.hit_hard %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-hit_hard" name="pitch-{{ pitch.pitch_num-1 }}-hit_hard" type="checkbox" checked>
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-hit_hard" name="pitch-{{ pitch.pitch_num-1 }}-hit_hard" type="checkbox">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.inning == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-inning" name="pitch-{{ pitch.pitch_num-1 }}-inning" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-inning" name="pitch-{{ pitch.pitch_num-1 }}-inning" size="4" type="text" value="{{ pitch.inning }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.loc_x == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-loc_x" name="pitch-{{ pitch.pitch_num-1 }}-loc_x" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-loc_x" name="pitch-{{ pitch.pitch_num-1 }}-loc_x" size="4" type="text" value="{{ pitch.loc_x }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.loc_y == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-loc_y" name="pitch-{{ pitch.pitch_num-1 }}-loc_y" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-loc_y" name="pitch-{{ pitch.pitch_num-1 }}-loc_y" size="4" type="text" value="{{ pitch.loc_y }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.spray_x == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-spray_x" name="pitch-{{ pitch.pitch_num-1 }}-spray_x" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-spray_x" name="pitch-{{ pitch.pitch_num-1 }}-spray_x" size="4" type="text" value="{{ pitch.spray_x }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.spray_y == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-spray_y" name="pitch-{{ pitch.pitch_num-1 }}-spray_y" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-spray_y" name="pitch-{{ pitch.pitch_num-1 }}-spray_y" size="4" type="text" value="{{ pitch.spray_y }}">
                            {% endif %}
                        </td>
                        <td>
                            {% if pitch.notes == None %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-notes" name="pitch-{{ pitch.pitch_num-1 }}-notes" size="4" type="text" value="">
                            {% else %}
                                <input id="pitch-{{ pitch.pitch_num-1 }}-notes" name="pitch-{{ pitch.pitch_num-1 }}-notes" size="4" type="text" value="{{ pitch.notes }}">
                            {% endif %}
                        </td>
                        <td><a class="delete" data-index="{{ pitch.pitch_num-1 }}">Delete</a></td>
                    </tr>
            {% endfor %}
        {% endfor %}
        </table>
        <p>{{ form.submit() }}</p>
    </form>
    <button id="add">Add Row</button>
</div>
{% endblock %}