{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">New Outing</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <label>Team</label><br>
                <select name="team-selector" id="team-selector" class="form-control">
                    {% for team in teams %}
                    <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                {{ form.pitcher.label }}<br>
                {{ form.pitcher(id='pitcher-selector', class="form-control") }}
                {% for error in form.pitcher.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.date.label }} <i>If in safari, enter date as YYYY-MM-DD</i>
                {{ form.date(class="form-control") }}
                {% for error in form.date.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.opponent.label }}<br>
                {{ form.opponent(class="form-control") }}
                {% for error in form.opponent.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.season.label }}<br>
                {{ form.season(id="season_selector", class="form-control") }}
                {% for error in form.season.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.game.label }} <br>
                {{ form.game(id="game_selector", class="form-control") }}
                {% for error in form.game.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <br>
            <p>{{ form.submit(class="btn btn-primary btn-block btn-lg") }}</p>
        </form>
    </div>
</div>
<script>
    const season_selector = $('#season_selector');
    const game_selector = $('#game_selector');
    const team_selector = $("#team-selector");
    const pitcher_selector = $("#pitcher-selector");
    const opponent_selector = $("#opponent");
    const date_selector = $("#date");

    const update_game_choices = async () => {
        try {
            const response = await fetch(`/api/season/${season_selector.val()}/games`);
            const games = await response.json();
            if (games.status == "failure") {
                console.log("Error: " + response.error);
                return;
            }
            game_selector.empty();
            game_selector.append(new Option('', ''))
            for (let game of games.games) {
                game_selector.append(new Option(game.label, game.id));
            }
        } catch (e) {
            console.log(e);
        }
    };

    const update_pitcher_choices = async () => {
        try {
            const response = await fetch(`/api/team/${team_selector.val()}/get_pitchers`);
            const pitchers = await response.json();
            if (pitchers.status != "success") {
                console.log("Error: " + pitchers.error);
                return;
            }
            pitcher_selector.empty();
            for (let pitcher of pitchers.data) {
                pitcher_selector.append(new Option(pitcher.name, pitcher.id));
            }
        } catch (e) {
            console.log(e);
        }
    };

    const update_selections_based_on_game = async () => {
        try {
            const response = await fetch(`/api/game/${game_selector.val()}`)
            if (!response.ok) {
                return
            }
            const game = await response.json();
            if (team_selector.val() == 1) {
                opponent_selector.val(game.opponent_id);
            } else {
                opponent_selector.val(1);
            }
            date_selector.val(game.date);
            if (team_selector.val() != game.opponent_id && team_selector.val() != "1") {
                team_selector.val(1);
                update_pitcher_choices();
            }
        } catch (e) {
            console.log(e)
        }
    };

    const clear_game_selector = () => game_selector.val('')

    season_selector.on('change', update_game_choices);
    team_selector.on('change', () => {
        update_pitcher_choices();
        clear_game_selector();
    });
    game_selector.on('change', update_selections_based_on_game);
    opponent_selector.on('change', clear_game_selector);
    date_selector.on('change', clear_game_selector);

    season_selector.val({{ current_season.id }});
    team_selector.val(1);
    opponent_selector.val(1);

    update_game_choices();
    update_pitcher_choices();
</script>
{% endblock %}