{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/stat_selector.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
{% endblock %}

{% block app_content %}
{% include "outing/outing_sidenav.html" %}
<div class="main">
    <h1>
        Basic Stat Support Coming Soon!
    </h1>
    <h3>Give us ideas in person please</h3>
</div>
{% endblock %}