{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3_strikezone.js') }}"></script>

        <script>
            // Script holding the D3.js pitch location tracker
            document.addEventListener("DOMContentLoaded", function () {

                var legend = new strikezone_legend("zone-legend-div");
                var zone = new strikezone("zone-div");
                var rhh_zone = new strikezone("rhh-zone-div");
                var lhh_zone = new strikezone("lhh-zone-div");

                // get pitches data from server
                var pitches = {{ pitches|tojson }};

                pitches.forEach(function(pitch) {
                    if (pitch.x != null || pitch.y != null) {
                        zone.drawCircle(pitch.x, pitch.y, pitch_type = pitch.pitch_type, pitch.pitch_num);
                        //for lefty and righty batter splits
                        if(pitch.batter_hand == "L"){
                            lhh_zone.drawCircle(pitch.x, pitch.y, pitch_type = pitch.pitch_type, pitch.pitch_num);
                        } else if(pitch.batter_hand == "R"){
                            rhh_zone.drawCircle(pitch.x, pitch.y, pitch_type = pitch.pitch_type, pitch.pitch_num);
                        }
                    }
                });
            });
        </script>
{% endblock %}

{% block app_content %}
{% include "outing/outing_sidenav.html" %}
<div class="main">
    <h1>
        Pitch by Pitch
    </h1>
        <div class="panel panel-default">
            <table class="table">
                <tr class="table-headers">
                    <th>Pitch</th>
                    <th>Batter</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>Count</th>
                    <th>AB Result</th>
                    <th>GB/FB/LD</th>
                    <th>Fielder</th>
                    <th>Hit Hard?</th>
                    <th>Inning</th>
                    <th>Notes</th>
                    {#
                    <th>loc_x</th>
                    <th>loc_y</th>
                    <th>spray_x</th>
                    <th>spray_y</th>
                    #}
                </tr>
                {% for at_bat in outing.at_bats %}
                    {% if (loop.index % 2 == 0) %}
                        {% set color="#ececec" %}
                    {% else %}
                        {% set color="white" %}
                    {% endif %}
                    {% for pitch in at_bat.pitches %}
                        <tr style="background-color: {{ color }};">
                            <td>{{ pitch.pitch_num }}</td>
                            <td>
                                {% for batter in opponent.batters %}
                                    {% if pitch.batter_id==batter.id %}
                                        {{ batter }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if pitch.velocity==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.velocity }}</td>
                            {% endif %}
                            <td>{{ pitch.lead_runner }}</td>
                            {% if pitch.time_to_plate==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.time_to_plate }}</td>
                            {% endif %}
                            <td>
                                {% if pitch.roll_through %}
                                    5{{ pitch.pitch_type }}
                                {% elif pitch.short_set %}
                                    2{{ pitch.pitch_type }}
                                {% else %}
                                    {{ pitch.pitch_type }}
                                {% endif %}
                            </td>
                            <td>{{ pitch.pitch_result }}</td>
                            {% if pitch.hit_spot %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.count }}</td>
                            <td>{{ pitch.ab_result }}</td>
                            <td>{{ pitch.traj }}</td>
                            <td>{{ pitch.fielder }}</td>
                            {% if pitch.hit_hard %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.inning }}</td>
                            {% if pitch.notes==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.notes }}</td>
                            {% endif %}
                            {#
                            {% if pitch.loc_x==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.loc_x }}</td>
                            {% endif %}
                            {% if pitch.loc_y==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.loc_y }}</td>
                            {% endif %}
                            {% if pitch.spray_x==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.spray_x }}</td>
                            {% endif %}
                            {% if pitch.spray_y==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.spray_y }}</td>
                            {% endif %}
                            #}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div id="pitch-location" style="text-align: center;">
            <h4 style="text-align: center;">Pitch Locations</h4>
            <p>The color of the circle represents the type of pitch that was thrown. The number inside the circle
                represents the pitch number of the pitch.</p>
                <div id="zone-legend-div"></div>
                <br>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active tabs"><a data-toggle="tab" href="#all-pitches">All Pitches</a></li>
                        <li class="tabs"><a data-toggle="tab" href="#rhh-pitches">Pitches vs RHH</a></li>
                        <li class="tabs"><a data-toggle="tab" href="#lhh-pitches">Pitches vs LHH</a></li>
                    </ul>
                </div>
                <div class="row tab-content">
                    <div class="tab-pane fade in active" id="all-pitches">
                        <div id="zone-div"></div>
                    </div>
                    <div class="tab-pane fade" id="rhh-pitches">
                        <div id="rhh-zone-div"></div>
                    </div>
                    <div class="tab-pane fade" id="lhh-pitches">
                        <div id="lhh-zone-div"></div>
                    </div>

                </div>
        </div>
    </div>
{% endblock %}