{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {# Required for data visualization #}
    <script src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
{% endblock %}

{% block app_content %}
{% include "outing/outing_sidenav.html" %}
<div class="main">
    <h1>
        Pitch by Pitch
    </h1>
        <div class="panel panel-default">
            <table class="table">
                <tr class="table-headers">
                    <th>Pitch</th>
                    <th>Batter</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>Count</th>
                    <th>AB Result</th>
                    <th>GB/FB/LD</th>
                    <th>Fielder</th>
                    <th>Hit Hard?</th>
                    <th>Inning</th>
                    <th>loc_x</th>
                    <th>loc_y</th>
                    <th>spray_x</th>
                    <th>spray_y</th>
                </tr>
                {% for at_bat in outing.at_bats %}
                    {% if (loop.index % 2 == 0) %}
                        {% set color="#ececec" %}
                    {% else %}
                        {% set color="white" %}
                    {% endif %}
                    {% for pitch in at_bat.pitches %}
                        <tr style="background-color: {{ color }};">
                            <td>{{ pitch.pitch_num }}</td>
                            <td>
                                {% for batter in opponent.batters %}
                                    {% if pitch.batter_id==batter.id %}
                                        {{ batter }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if pitch.velocity==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.velocity }}</td>
                            {% endif %}
                            <td>{{ pitch.lead_runner }}</td>
                            {% if pitch.time_to_plate==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.time_to_plate }}</td>
                            {% endif %}
                            <td>{{ pitch.pitch_type }}</td>
                            <td>{{ pitch.pitch_result }}</td>
                            {% if pitch.hit_spot %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.count }}</td>
                            <td>{{ pitch.ab_result }}</td>
                            <td>{{ pitch.traj }}</td>
                            <td>{{ pitch.fielder }}</td>
                            {% if pitch.hit_hard %}
                                <td>X</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ pitch.inning }}</td>
                            {% if pitch.loc_x==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.loc_x }}</td>
                            {% endif %}
                            {% if pitch.loc_y==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.loc_y }}</td>
                            {% endif %}
                            {% if pitch.spray_x==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.spray_x }}</td>
                            {% endif %}
                            {% if pitch.spray_y==None %}
                                <td></td>
                            {% else %}
                                <td>{{ pitch.spray_y }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}