<div class="sidenav">
    <a href="{{ url_for('pitcher.pitcher_outings', id=outing.pitcher_id) }}">All Outings</a>
    <a href="{{ url_for('outing.outing_home', id=outing.id) }}">Outing Home</a>
    <a href="{{ url_for('outing.outing_pbp', id=outing.id) }}">Pitch by Pitch</a>
    <a href="{{ url_for('outing.outing_stats_basic', id=outing.id) }}">Basic Stats</a>
    {# <a href="{{ url_for('outing.outing_stats_advanced', id=outing.id) }}">Advanced Stats</a> #}
    <a href="{{ url_for('outing.outing_videos', id=outing.id) }}">Video</a>
    {% if current_user.admin %}
        <a href="{{ url_for('outing.edit_outing', outing_id=outing.id) }}">Edit Outing</a>
        <a href="{{ url_for('outing.edit_outing_pitches', outing_id=outing.id) }}">Edit Pitches</a>
        <a href="{{ url_for('outing.new_outing_pitch_tracker', id=outing.id) }}">Continue Tracking</a> 
    {% endif %}
</div>