{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sortable_table.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidenav.css') }}">
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <!-- D3 Plugins -->
    <script src="{{ url_for('static', filename='packages/d3/d3.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.getElementById('velo-over-time').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: {{ labels }},
                    datasets: [{
                        label: 'FB',
                        borderColor: 'rgb(230, 25, 75)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['FB'] %}
                                {{v}},
                            {% endfor %}
                        ]
                    },{
                        label: 'SM',
                        borderColor: 'rgb(255, 128, 0)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['SM'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    },{
                        label: 'CB',
                        borderColor: 'rgb(0, 130, 200)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['CB'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    },{
                        label: 'SL',
                        borderColor: 'rgb(0, 200, 0)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['SL'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    },{
                        label: 'CH',
                        borderColor: 'rgb(200, 200, 0)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['CH'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    },{
                        label: 'CT',
                        borderColor: 'rgb(0, 200, 200)',
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        pointRadius: 2,
                        lineTension: 0,
                        data: [
                            {% for v in velos['CT'] %}
                                {{v}},
                            {% endfor %}
                        ] 
                    }
                    ]
                },

                // Configuration options go here
                options: {
                    spanGaps: true,
                }
            });
            var ctx2 = document.getElementById('pitch-usage-pie').getContext('2d');
            var chart2 = new Chart(ctx2, {
                // The type of chart we want to create
                type: 'pie',

                // The data for our dataset
                data: {
                    datasets: [{
                        data: [
                            {% for data in pitch_usage_pie_data %}
                                {{data}},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgb(230, 25, 75)',
                            'rgb(255, 128, 0)',
                            'rgb(0, 130, 200)',
                            'rgb(0, 200, 0)',
                            'rgb(200, 200, 0)',
                            'rgb(0, 200, 200)'
                        ]
                    }],
                    labels: [
                        {% for label in pitch_usage_pie_labels %}
                            '{{label}}',
                        {% endfor %}
                    ]
                },

                // Configuration options go here
                options: {
                    legend: {
                        display: true,
                        position: "top",
                        align: "center",
                    },
                    title: {
                        display: false,
                        text: "Pitch Usage"
                    }
                }
            });
            var ctx3 = document.getElementById('strike-percentage-polar').getContext('2d');
            var chart3 = new Chart(ctx3, {
                // The type of chart we want to create
                type: 'polarArea',

                // The data for our dataset
                data: {
                    datasets: [{
                        data: [
                            {% for data in strike_percentage_polar_data %}
                                {{data}},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgb(230, 25, 75)',
                            'rgb(255, 128, 0)',
                            'rgb(0, 130, 200)',
                            'rgb(0, 200, 0)',
                            'rgb(200, 200, 0)',
                            'rgb(0, 200, 200)'
                        ]
                    }],
                    labels: [
                        {% for label in strike_percentage_polar_labels %}
                            '{{label}}',
                        {% endfor %}
                    ]
                },

                // Configuration options go here
                options: {
                    legend: {
                        display: true,
                        position: "top",
                        align: "center",
                    },
                    title: {
                        display: false,
                        text: "Strike Percentage"
                    }
                }
            });
        });
    </script>
    <style>
        #pitch-stats {
            width: 500px;
            text-align: center;
            margin: 0 auto;
        }
        #time-to-plate {
            width: 200px;
            text-align: center;
            margin: 0 auto;
        }
        caption {
            display: table-caption;
            text-align: center;
            font-size: 14pt;
            color: black;
        }
        
        #pitch-usage-pie {
            text-align: center;
        }

        #strike-percentage-polar {
            text-align: center;
        }
    </style>
{% endblock %}

{% block app_content %}
    {% include "outing/outing_sidenav.html" %}
    <div class="main">
        <h1 style="text-align: center">
            {{ outing }}
        </h1>
        <br>
        <h4 style="text-align: center; color: black">Velo Throughout Outing</h4>
        <h6 style="text-align: center;">Try clicking on the labels!</h6>
        <canvas id="velo-over-time" width="1000" height="400"></canvas>
        <table style="text-align: center;" id="pitch-stats" class="table">
            <caption>Pitch Stats</caption>
            <tr class="table-headers">
                <th>Pitch Type</th>
                <th>No.</th>
                <th>Velo Avg</th>
                <th>Velo Max</th>
                <th>Velo Min</th>
                <th>Usage %</th>
                <th>Strike %</th>
            </tr>
            {% for pitch in pitch_stats %}
                <tr>
                    <td>{{pitch.pitch_type}}</td>
                    <td>{{pitch.num_thrown}}</td>
                    <td>{{pitch.velo_avg}}</td>
                    <td>{{pitch.velo_max}}</td>
                    <td>{{pitch.velo_min}}</td>
                    <td>
                        {{pitch.percentage_thrown}}
                        {%if pitch.percentage_thrown != "X"%}%{%endif%}
                    </td>
                    <td>
                        {{pitch.strike_percentage}}
                        {%if pitch.strike_percentage != "X"%}%{%endif%}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="time-to-plate" class="table">
            <caption>Time to Plate</caption>
            <tr class="table-headers">
                <th>Lead RNR</th>
                <th>No.</th>
                <th>Average</th>
            </tr>
            {% for runner in time_to_plate %}
                <tr>
                    <td>{{runner.lead_runner}}</td>
                    <td>{{runner.num_times}}</td>
                    <td>{{runner.avg}}</td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
            <h4 style="text-align: center;">Pitch Usage</h4>
            <canvas id="pitch-usage-pie" style="text-align: center;"></canvas>
            <br><br>
            <h4 style="text-align: center;">Strike Percentage</h4>
            <canvas id="strike-percentage-polar" style="text-align: center;"></canvas>
        <br><br>
        <br><br> 
        <br><br>
        <br><br> 
        <br><br>
        <br><br> 
        <div>
        <br>
        </div>
    </div>
{% endblock %}