<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <div>
            WashU Pitching
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        {% block head %}{% endblock %}
    </head>
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </body>
</html>