<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <div>
            <!-- <img class="logos" src="static/logos/Bear_Head_Logo.jpg" alt="Image not available"> -->
            <img class="logos" src="static/logos/WashU_Logo.jpg" alt="Image not available">
            
            <h id="webpage-title">WashU Pitching Portal</h>
            <a href="/home">Home</a>
            <a href="/login">Login</a>
        </div>
        {% block head %}{% endblock %}
    </head>
    <body>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </body>
</html>