{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    {% include "outing/pitch_tracker/tracker_css.html" %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {% include "outing/pitch_tracker/tracker_js.html" %}
{% endblock %}

{% block content %}
    <div>
        <div></div>
        <div id="page-title">
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/Bear_Head_Color.png') }}">
            Pitch by Pitch Tracker
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/WashU_Color.png') }}">
        </div>
        <br>
        <div style="text-align: center;">
            {{ form.pitcher.label }}
            {{ form.pitcher }}
            &nbsp &nbsp
            {{ form.date.label }}
            {{ form.date(class='datepicker', value=date) }}
            &nbsp &nbsp
            {{ form.opponent.label }}
            {{ form.opponent() }}
            &nbsp &nbsp
            <select id="season" name="season">
                {% for season in all_seasons %}
                    <option value="{{ season }}" {% if this_season.id==season.id %} selected {% endif %}>{{ season }}</option>
                {% endfor %}
            </select>
            &nbsp &nbsp
            <button id="finish-outing">Finish Outing</button>

            <div id='exit-buttons' style="display: none;">
                <button><a href="">Go to outing</a></button>
                <button><a href="{{ url_for('main.index') }}">Go to index</a></button>
            </div>
        </div>

        <br><br>
        
        <div id="at-bat-info">
            
            &nbsp <b>Inning: </b>
            <input id="inning" type="number" value=1>

            &nbsp

            <b>Batter: </b>
            <select id="select-batter" size='1'>
                {% for batter in batters %}
                    <option value={{ batter.id }}>{{ batter }}</option>
                {% endfor %}
            </select>
            
            &nbsp
            
            <b>Lead Runner: </b>
            <div value='1' class="lead-runner">1B</div>
            <div value='2' class="lead-runner">2B</div>
            <div value='3' class="lead-runner">3B</div>
            <div value='' class="lead-runner default-selections">None</div>

            &nbsp
            <b>Count: </b>
            <div id="count">0-0</div>

        </div>
        <div>
            <div id="pitch-location">
                <svg id='main' class=plot height='457' width='457'></svg>
            </div>
            
            <table id="pitch-info">
                <tr>
                    <td>
                        <div value=1 class="pitch-type"><span class=ptText>4-Seam</span></div>
                    </td>
                    <td>
                        <div id="hit-spot">
                            <div class=area><span class=ptText>Hit Spot</span></div>
                            <div value=1 class="hit-spot-answer"><span class=ptText>Yes</span></div>
                            <div value=0 class="hit-spot-answer default-selections" id="hit-spot-no"><span class=ptText>No</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value=7 class="pitch-type"><span class=ptText>2-Seam</span></div>
                    </td>
                    <td>
                        <div id="velocity">
                            <div class="area">
                                <span class="txt-velo-ttp">Velocity</span>
                                <input id="velocity-input" type="number" step='.1'>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value=2 class="pitch-type"><span class=ptText>Curveball</span></div>
                    </td>
                    <td>
                        <div id="time-to-plate">
                            <div class="area"><span class="txt-velo-ttp">Time to Plate</span>
                                <input id="time-to-plate-input" type="number" step='.01'>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value=3 class="pitch-type"><span class=ptText>Slider</span></div>
                    </td>
                    <td rowspan=2>
                        <div id="pitch-result">
                            <div class=area><span class=ptText>Pitch Result</span></div>
                            <table>
                                <tr>
                                    <td>
                                        <div value='SS' class='prAnswer'><span class=ptText>SS</span></div>
                                    </td>
                                    <td>
                                        <div value='CS' class='prAnswer'><span class=ptText>CS</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div value='F' class='prAnswer'><span class=ptText>Foul</span></div>
                                    </td>
                                    <td>
                                        <div value='B' class='prAnswer'><span class=ptText>Ball</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <div value='IP' class='prAnswer' style='width: 96%;'><span class=ptText>In Play</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value=4 class="pitch-type"><span class=ptText>Change</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value=5 class="pitch-type"><span class=ptText>Cutter</span></div>
                    </td>
                    <td>
                        <div class="strikeout" id="K">
                            <div class=area style='width:100%'>K?</div>
                            <div value="K" class="strikeout-answer"><span class=ptText>Yes</span></div>
                            <div value="" class="strikeout-answer strikeout-no"><span class=ptText>No</span></div>
                        </div>
                        <div class="strikeout" id="KL">
                            <div class=area style='width:100%'>KL?</div>
                            <div value="KL" class="strikeout-answer"><span class=ptText>Yes</span></div>
                            <div value="" class="strikeout-answer strikeout-no"><span class=ptText>No</span></div>
                        </div>
                        <div id="bb">
                            <div class=area style='width:100%'>BB?</div>
                            <div value='BB' class="bb-answer"><span class=ptText>Yes</span></div>
                            <div value='' class="bb-answer"><span class=ptText>No</span></div>
                        </div>
                        <div id="out">
                            <div class=area style='width:100%'>IP->Out?</div>
                            <div value='IP->Out' class="out-answer"><span class=ptText>Yes</span></div>
                            <div value='' id="out-answer-no" class="out-answer"><span class=ptText>No</span></div>
                        </div>
                        <div id="end-of-ab">
                            <div value="" class="end-of-ab"><span class=ptText>End of AB</span></div>
                        </div>
                    </td>
                </tr>
                <tr rowspan=2>
                    <td colspan=2>
                        <div id="ab-result">
                            <div>
                                <div class=area style='width:100%'>AB Results</div>
                            </div>
                            <div class="ab-results-div" id="ip-ab-results">
                                <div class="ab-results" value="1B">1B</div>
                                <div class="ab-results" value="2B">2B</div>
                                <div class="ab-results" value="3B">3B</div>
                                <div class="ab-results" value="HR">HR</div>
                                <div class="ab-results" value="FC">FC</div>
                                <div class="ab-results" value="Error">Error</div>
                            </div>
                            <div class="ab-results-div" id="strike-three-ab-results" style="display: none;">
                                <div value='D3->Out' class="ab-results"><span class=ptText>D3->Out</span></div>
                                <div value='D3->Safe' class="ab-results"><span class=ptText>D3->Safe</span></div>
                                <div value='Other' class="ab-results"><span class=ptText>Other</span></div>
                            </div>
                            <div class="ab-results-div" id="ab-results-other" style="display: none;">
                                <div value='HBP' class="ab-results"><span class=ptText>HBP</span></div>
                                <div value='CI' class="ab-results"><span class=ptText>CI</span></div>
                                <div value='Other' class="ab-results"><span class=ptText>Other</span></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div id=fieldDiv style="visibility: hidden;">
                <svg id='field' height='457' width='457'></svg>
                <table id=ipTable>
                    <tr class='bipType'>
                        <td>
                            <div class=traj-answer value=GB>GB</div>
                        </td>
                        <td>
                            <div class=traj-answer value=FB>FB</div>
                        </td>
                        <td>
                            <div class=traj-answer value=LD>LD</div>
                        </td>
                        <td colspan=2>
                            <div id=fielderDiv>
                                &nbsp
                                <b>Fielder: </b>
                                <select id="select-fielder" size=1>
                                    <option class=fielder value="">--</option>
                                    <option class=fielder value="1">1</option>
                                    <option class=fielder value="2">2</option>
                                    <option class=fielder value="3">3</option>
                                    <option class=fielder value="4">4</option>
                                    <option class=fielder value="5">5</option>
                                    <option class=fielder value="6">6</option>
                                    <option class=fielder value="7">7</option>
                                    <option class=fielder value="8">8</option>
                                    <option class=fielder value="9">9</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="add-pitch">
            Add pitch
        </div>
        <div>
            <table class="table" id="pitch-table">
                <tr>
                    <th>No.</th>
                    <th>Batter</th>
                    <td>Velo</td>
                    <td>Lead RNR</td>
                    <td>Time to Plate</td>
                    <td>Pitch Type</td>
                    <td>Pitch Result</td>
                    <td>Hit Spot?</td>
                    <td>AB Result</td>
                    <td>Traj</td>
                    <td>Fielder</td>
                    <td>Inning</td>
                </tr>
            </table>
        </div>
    </div class="main">
{% endblock %}