{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    {% include "outing/pitch_tracker/tracker_css.html" %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <div>
        <div></div>
        <div id="page-title">
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/Bear_Head_Color.png') }}">
            Pitch by Pitch Tracker
            <img class="logos" alt="WashU-Logo" src="{{ url_for('static', filename='images/WashU_Color.png') }}">
        </div>
        <br>
        <div style="text-align: center;">
            {{ form.pitcher.label }}
            {{ form.pitcher }}
            &nbsp &nbsp
            {{ form.date.label }}
            {{ form.date(class='datepicker', value=date) }}
            &nbsp &nbsp
            {{ form.opponent.label }}
            {{ form.opponent() }}
            &nbsp &nbsp
            <select id="season" name="season">
                {% for season in all_seasons %}
                    <option value="{{ season }}" {% if this_season.id==season.id %} selected {% endif %}>{{ season }}</option>
                {% endfor %}
            </select>
            &nbsp &nbsp
            <button id="finish-outing">Finish Outing</button>
            <button id="reset-outing">Reset Outing</button>


            <div id='exit-buttons' style="display: none;">
                <button><a href="">Go to outing</a></button>
                <button><a href="{{ url_for('main.index') }}">Go to index</a></button>
            </div>
        </div>

        <br><br>
        
        <div id="at-bat-info">
            
            &nbsp <b>Inning: </b>
            <input id="inning" type="number" value=1>

            &nbsp

            <b>Batter: </b>
            <select id="select-batter" size='1'>
                {% for batter in batters %}
                    <option value={{ batter.id }}>{{ batter }}</option>
                {% endfor %}
            </select>
            
            &nbsp
            
            <b>Lead Runner: </b>
            <table style="display: inline-block; vertical-align: bottom;">
                <tr>
                    <td style="border-right:hidden" value="1" class="lead-runner box">1B</td>
                    <td style="border-right:hidden" value="2" class="lead-runner box">2B</td>
                    <td style="border-right:hidden" value="3" class="lead-runner box">3B</td>
                    <td value='' class="lead-runner box default-selections">None</td>
                </tr>
            </table>

            &nbsp
            <b>Count: </b>
            <div id="count">0-0</div>

            &nbsp
            <b>Pitches: </b>
            <div id="total-pitches">0</div>

        </div>
        <div>
            <div id="pitch-location">
                <svg id='strikezone' class=plot height='457' width='457'></svg>
            </div>
            
            <table id="pitch-info">
                <tr>
                    <td value=1 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>4-Seam</span></div>
                    </td>
                    <td class="box">
                        <div id="hit-spot">
                            <div class=area><span class=ptText>Hit Spot</span></div>
                            <table>
                                <tr>
                                    <td value=1 class="hit-spot-answer box">
                                        <span class=ptText>Yes</span>
                                    </td>
                                    <td value=0 class="hit-spot-answer box default-selections" id="hit-spot-no" style="border-left:hidden">
                                        <span class=ptText>No</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td value=7 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>2-Seam</span></div>
                    </td>
                    <td class="box">
                        <div id="velocity">
                            <div class="area">
                                <span class="txt-velo-ttp">Velocity</span>
                                <input id="velocity-input" type="number" step='.1'>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td value=2 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>Curveball</span></div>
                    </td>
                    <td class="box">
                        <div id="time-to-plate">
                            <div class="area"><span class="txt-velo-ttp">Time to Plate</span>
                                <input id="time-to-plate-input" type="number" step='.01'>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td value=3 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>Slider</span></div>
                    </td>
                    <td class="box" rowspan=2>
                        <div id="pitch-result">
                            <div class=area><span class=ptText>Pitch Result</span></div>
                            <table>
                                <tr>
                                    <td value='SS' class='pitch-result box' style="border-bottom:hidden;">
                                        <div><span class=ptText>SS</span></div>
                                    </td>
                                    <td value='CS' class='pitch-result box' style="border-left:hidden; border-bottom:hidden;">
                                        <div><span class=ptText>CS</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td value='F' class='pitch-result box'>
                                        <div><span class=ptText>Foul</span></div>
                                    </td>
                                    <td value='B' class='pitch-result box' style="border-left:hidden;">
                                        <div><span class=ptText>Ball</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td value='IP' class='pitch-result box' style='width: 96%; border-top:hidden' colspan=2>
                                        <div><span class=ptText>In Play</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td value=4 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>Change</span></div>
                    </td>
                </tr>
                <tr>
                    <td value=5 class="pitch-type box">
                        <div class="pitch-type-text"><span class=ptText>Cutter</span></div>
                    </td>
                    <td class="box">
                        <div value="" id="end-of-ab" style="display: block">
                            <div class=area style='width:100%'>End of AB</div>
                            <table style="width: 50%; margin-left: 25%">
                                <tr>
                                    <td value="Yes" class="end-of-ab box"><span class=ptText>Yes</span></td>
                                    <td value="No" style="border-left:hidden" id="end-ab-no" class="end-of-ab default-selections box"><span class=ptText>No</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="strikeout" id="K" style="display: none">
                            <div class=area style='width:100%'>K?</div>
                            <table style="width: 50%; margin-left: 25%">
                                <tr>
                                    <td value="K" class="strikeout-answer box"><span class=ptText>Yes</span></td>
                                    <td value="" style="border-left:hidden" class="strikeout-answer strikeout-no box"><span class=ptText>No</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="strikeout" id="KL" style="display: none">
                            <div class=area style='width:100%'>KL?</div>
                            <table style="width: 50%; margin-left: 25%">
                                <tr>
                                    <td value="KL" class="strikeout-answer box"><span class=ptText>Yes</span></td>
                                    <td value="" style="border-left:hidden" class="strikeout-answer strikeout-no box"><span class=ptText>No</span></td>
                                </tr>
                            </table>
                        </div>
                        <div id="bb" style="display: none">
                            <div class=area style="width:100%;">BB?</div>
                            <table style="width: 50%; margin-left: 25%">
                                <tr>
                                    <td value='BB' class="bb-answer box"><span class=ptText>Yes</span></td>
                                    <td value='' style="border-left:hidden" class="bb-answer box"><span class=ptText>No</span></td>
                                </tr>
                            </table>
                        </div>
                        <div id="out" style="display: none;">
                            <div class=area style="width:100%;">IP->Out?</div>
                            <table style="width: 50%; margin-left: 25%">
                                <tr>
                                    <td value='IP->Out' class="out-answer box"><span class=ptText>Yes</span></td>
                                    <td value='' style="border-left:hidden" id="out-answer-no" class="out-answer box"><span class=ptText>No</span></td>        
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr rowspan=2>
                    <td colspan=2 class="box" id="ab-result" style="visibility: hidden;">
                        <div>
                            <div class=area style='width:100%'>AB Results</div>
                        </div>
                        <div class="ab-results-div" id="ip-ab-results">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="border-right:hidden" class="ab-results box" value="1B">1B</td>
                                    <td style="border-right:hidden" class="ab-results box" value="2B">2B</td>
                                    <td style="border-right:hidden" class="ab-results box" value="3B">3B</td>
                                    <td style="border-right:hidden" class="ab-results box" value="HR">HR</td>
                                    <td style="border-right:hidden" class="ab-results box" value="FC">FC</td>
                                    <td class="ab-results box" value="Error">Error</td>
                                </tr>
                            </table>
                        </div>
                        <div class="ab-results-div" id="strike-three-ab-results" style="display: none;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="border-right:hidden" value='D3->Out' class="ab-results box"><span class=ptText>D3->Out</span></td>
                                    <td style="border-right:hidden" value='D3->Safe' class="ab-results box"><span class=ptText>D3->Safe</span></td>
                                    <td value='Other' class="ab-results box"><span class=ptText>Other</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="ab-results-div" id="ab-results-other" style="display: none;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="border-right:hidden" value='HBP' class="ab-results box"><span class=ptText>HBP</span></td>
                                    <td style="border-right:hidden" value='CI' class="ab-results box"><span class=ptText>CI</span></td>
                                    <td value='Other' class="ab-results box"><span class=ptText>Other</span></div>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div id=fieldDiv style="visibility: hidden;">
                <svg id='field' height='457' width='457'></svg>
                <table id="in-play-info-table" style="margin-top: -6px; margin-left: 10px;">
                    <tr class='bipType'>
                        <td>
                            <table>
                                <caption style="font-size: 18px; text-align: center; color: black; margin-bottom: -5px; margin-top: -5px">Trajectory</caption>
                                <tr>
                                    <td class="traj-answer box" value=GB>GB</td>
                                    <td class="traj-answer box" value=FB>FB</td>
                                    <td class="traj-answer box" value=LD>LD</td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-left: 20px;">
                            <table>
                                <caption style="font-size: 18px; text-align: center; color: black; margin-bottom: -5px; margin-top: -5px">Fielder</caption>
                                <tr>
                                    <td class="fielder box" value="1">1</td>
                                    <td class="fielder box" value="2">2</td>
                                    <td class="fielder box" value="3">3</td>
                                    <td class="fielder box" value="4">4</td>
                                    <td class="fielder box" value="5">5</td>
                                    <td class="fielder box" value="6">6</td>
                                    <td class="fielder box" value="7">7</td>
                                    <td class="fielder box" value="8">8</td>
                                    <td class="fielder box" value="9">9</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
        <div id="add-pitch">
            Add pitch
        </div>
        <br><br><br>
        <div>
            <table class="table" id="pitch-table">
                <caption id="pitch-table-caption">Pitch by Pitch Table</caption>
                <tr class="table-headers">
                    <th>No.</th>
                    <th>Batter</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>AB Result</th>
                    <th>Traj</th>
                    <th>Fielder</th>
                    <th>Inning</th>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br><br><br><br>
    {% include "outing/pitch_tracker/tracker_js.html" %}
{% endblock %}