<style>
    @import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800');
    body {
        font-family: 'Exo';
        border: 10pt solid #bd2e1f;
    }

    #page-title-stuff {
        z-index: 1;
        position: absolute;
        width: 100%
    }

    .default-selections {
        background-color: #bd2e1f; 
        color: #f9feff;
    }

    #page-title {
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
        font-size: 30px;
    }

    #outing-info {
        text-align: center;
        font-size: 35px;
        color: #bd2e1f;
        font-weight: bold;
    }

    #reset-outing {
        float: right;
        margin-right: 50px;
        margin-top: -60px;
        font-size: 20px;
    }

    #buttons-left {
        margin-top: 50px
    }

    .exit-buttons {
        font-size: 15px;
    }

    .logos {
        width: 100px;
        height: auto;
        padding-top: 5px;
    }

    #at-bat-info {
        font-size: 25px;
    }

    #select-batter {
        margin-left: 10px;
        font-size: 25px;
    }

    #inning {
        margin-left: 10px;
        font-size: 25px;
        width: 45px;
    }

    .lead-runner {
        text-align: center;
        font-size: 23px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 2px;
        padding-bottom: 2px;
        display: inline-block;
    }

    #count, #total-pitches {
        display: inline-block;
    }

    #batters td{
    }

    #batters tr {

    }

    .batters {
        width: 150px;
        height: 30px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        padding-top: 5px;
        border: 1px solid gray;
        margin: 1px;
    }

    #pitch-location {
        display: inline-block;
    }

    .plot {
        border: 1px solid black;
    }

    #pitch-info {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    } 

    .box {
        border: 1px solid gray;
    }

    #hit-spot {
        vertical-align: top;
        padding-bottom: 3px;
        border-radius: 3px;
    }

    #hit-spot table {
        width: 60%;
        margin-left: 20%;
    }

    .hit-spot-answer {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        width: 50%;
    }

    .alternate-delivery {
        height: 30px; 
        font-size: 20px; 
    }

    #velocity {
        border-radius: 3px;
        text-align: center;
        vertical-align: top;
        padding-bottom: 3px;
    }

    #velocity-input {
        text-align: center;
        font-size: 21px;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }

    .txt-velo-ttp {
        font-size: 26px;
    }

    .top-right-text {
        font-size: 22px;
    }

    #time-to-plate {
        border-radius: 3px;
        text-align: center;
        vertical-align: top;
        padding-bottom: 3px;
    }

    #time-to-plate-input {
        text-align: center;
        font-size: 21px;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
    }

    #notes-input {
        text-align: center;
        font-size: 21px;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        margin-bottom: 4px;
    }

    #pitch-result {
        vertical-align: top;
        padding-bottom: 3px;
    }

    .pitch-result {
        display: inline-block;
        text-align: center;
        width: 92px;
        font-size: 23.5px;
    }

    #pitch-result table {
        margin-left: 2%;
        width: 96%;
    }

    .strikeout-answer {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 50%;
    }

    .end-of-ab {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 50%;
    }

    .bb-answer {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        width: 50%;
    }

    .out-answer {
        display: inline-block;
        background-color: white;
        text-align: center;
        font-size: 20px;
        width: 50%;
    }

    #ab-result {
        text-align: center;
        vertical-align: top;
        padding-bottom: 4px;
        padding-top: 4px;
        text-align: center;
        width: 100%;
    }

    .ab-results {
        display: inline-block;
        text-align: center;
        font-size: 23px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pitch-type-text {
        vertical-align: middle;
        width: 200px;
        text-align: center;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .area {
        border-radius: 3px;
        width: 200px;
        text-align: center;
        font-size: 23px;
    }

    #fieldDiv {
        display: inline-block;
        visibility: hidden;
        vertical-align: top;
        margin-top: 7px;
    }

    #field {
        border: 1px solid black;
        border-radius: 3px;
    }

    .traj-answer {
        text-align: center;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .fielder {
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .hit-hard {
        text-align: center;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
        width: 50px;
    }

    .ip-at-bat-result {
        border-radius: 3px;
        border: 1px solid gray;
        text-align: center;
        font-size: 23px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 2px;
        padding-bottom: 2px
    }

    #add-pitch {
        width: 457px;
        font-size: 25px;
        position: relative;
        text-align: center;
        border: 1px solid black;
        margin-left: 10px;
        visibility: hidden;
        margin-top: -125px;
    }

    #add-pitch:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    #add-pitch:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    #pitch-table {
        width: 94%;
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    #pitch-table-caption {
        text-align: center;
        font-size: 30px;
        color: black;
    }

    th, td {
        text-align: center;
    }
    .table-headers {
        background-color: #bd2e1f;
        color: #f9feff;
    }

    .pitch-type:hover, .pitch-result:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .pitch-type:active, .pitch-result:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .hit-spot-answer:hover, .lead-runner:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .hit-spot-answer:active, .lead-runner:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .strikeout-answer:hover, .out-answer:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .strikeout-answer:active, .out-answer:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .bb-answer:hover, .ab-results:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .bb-answer:active, .ab-results:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .traj-answer:hover, .end-of-ab:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .traj-answer:active, .end-of-ab:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .fielder:hover, .batters:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .fielder:active, .batters:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }

    .hit-hard:hover, .alternate-delivery:hover {
        box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    }

    .hit-hard:active, .alternate-delivery:active {
        box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    }


</style>