<script>    
    // put all the pitches in array if continuing tracking
    var pitches = [];
    setPitches();

    // update pitch nums
    var pitch_num = {{ num_pitches }};
    // pitches by inning
    var pitchCountInning = {};
    {% if inning == "" %}
        var inning = 1;
    {% else %}
        var inning = {{ inning }};
    {% endif %}
    setPitchCountInning();
    $("#total-pitches").text(`${pitch_num} (${pitchCountInning[inning]})`);

    // set the atBat id if present
    var atBat = "";
    {% if at_bat != "" %}
        var atBat = {{ at_bat }};
    {% endif %}

    // set the outing id to be sent to db with each pitch
    var outing_id = {{ outing.id }};

    // to keep track of the count
    var strikes = {{ strikes }};
    var balls = {{ balls }};
    var count = `${balls}-${strikes}`;
    $("#count").text(count);

    // fill pitch table with all the pitches associated with outing
    updatePitchTable();

    // variables to hold pitch information that updates on changes
    var velocity = "";
    var time_to_plate = "";
    var lead_runner = "";
    var pitch_type = "";
    var pitch_result = "";
    var hit_spot = 0;
    var ab_result = "";
    var traj = "";
    var fielder = "";
    var hit_hard = 0;
    var endAtBat = "No";
    var roll_through = 0;
    var short_set = 0;
    var notes = "";

    // the color scheme used for when a button is clicked
    var background_red = "#bd2e1f";
    var text_white = "#f9feff";

    // interactive elements to keep track of pitch location and spray info
    var fieldDiv = $("#fieldDiv");
    var field = $("#field");
    var fieldD3 = d3.select("#field");
    var strikezone = d3.select("#strikezone");
    var loc_x = "";
    var loc_y = "";
    var spray_x = "";
    var spray_y = "";

    // setting up variables for clickable buttons
    var batterButtons = $(".batters");
    var leadRunnerButtons = $(".lead-runner");
    var pitchTypeButtons = $(".pitch-type");
    var pitchResultButtons = $(".pitch-result");
    var hitSpotButtons = $(".hit-spot-answer");
    var endAtBatButtons = $(".end-of-ab");
    var trajButtons = $(".traj-answer");
    var strikeoutButtons = $(".strikeout-answer");
    var walkButtons = $(".bb-answer");
    var abResultButtons = $(".ab-results");
    var addPitchButton = $("#add-pitch");
    var outButtons = $(".out-answer");
    var finishOutingButton = $("#finish-outing");
    var resetOutingButton = $("#reset-outing");
    var exitButtons = $(".exit-buttons");
    var fielderButtons = $(".fielder");
    var hitHardButtons = $(".hit-hard");
    var alternateDeliveryButtons = $(".alternate-delivery");

    // setting up inputs for other types of inputs
    var inningInput = $("#inning");
    var velocityInput = $("#velocity-input");
    var timeToPlateInput = $("#time-to-plate-input");
    var fielderSelect = $("#select-fielder");
    var notesInput = $("#notes-input");

    // setting up variables for certain "div" elements
    var endAtBatDiv = $("#end-of-ab");
    var outDiv = $("#out");
    var walkDiv = $("#bb");
    var strikeoutSwingDiv = $("#K");
    var strikeoutLookDiv = $("#KL");
    var abResultBox = $("#ab-result");
    var abResultGroups = $(".ab-results-div");
    var abResultStrikeThreeDiv = $("#strike-three-ab-results");
    var abResultInPlayDiv = $("#ip-ab-results");
    var abResultOtherDiv = $("#ab-results-other");
    var ballFlightInfoTable= $("in-play-info-table");

    // set up the interactive elements of the pitch tracker
    setUpD3Elements(strikezone, fieldD3);

    // set up batter
    {% if batter == "" %}
        click(batterButtons.first());
        var batter_id = batterButtons.first().attr("value");
    {% else %}
        var batter_id = {{ batter }};
    {% endif %}

    // set up lead_runner
    {% if lead_runner == "" %}
        lead_runner = "";
    {% else %}
        lead_runner = {{ lead_runner }};
    {% endif %}

    batterButtons.each(function(){
        button = $(this);
        if (button.attr("value") == batter_id) {
            click(button);
        }
    });

    leadRunnerButtons.each(function(){
        button = $(this);
        if (button.attr("value") == lead_runner) {
            click(button);
        }
    });

    inningInput.val(inning);

    /********************- INNING -********************/
    inningInput.change(function() {
        value = inningInput.val();
        $("#total-pitches").text(`${pitch_num} (${pitchCountInning[value]})`);
    });

    /********************- BATTER -********************/
    batterButtons.click(function(){
        button = $(this);
        unclick(batterButtons);
        click(button);
        batter_id = button.attr("value");
        Cookies.set("batter_id", button.attr("value"))
    });

    /********************- LEAD RUNNER -********************/
    leadRunnerButtons.click(function(){
        button = $(this);
        unclick(leadRunnerButtons);
        click(button);
        lead_runner = button.attr("value");
    });

    /********************- PITCH TYPE -********************/
    pitchTypeButtons.click(function(){
        button = $(this);
        unclick(pitchTypeButtons);
        click(button);
        pitch_type = button.attr("value");
        checkLogic();
    });

    /********************- HIT SPOT -********************/
    hitSpotButtons.click(function(){
        button = $(this);
        unclick(hitSpotButtons);
        click(button);
        hit_spot = button.attr("value");
    });

    /********************- ALTERNATE DELIVERY -********************/
    alternateDeliveryButtons.click(function(){
        button = $(this);
        unclick(alternateDeliveryButtons);

        if (button.attr("value") == "rt") {
            short_set = 0;
            if (roll_through == 1) {
                roll_through = 0;
            }
            else {
                roll_through = 1;
                click(button);
            }
        } 
        
        if (button.attr("value") == "ss") {
            roll_through = 0;
            if (short_set == 1) {
                short_set = 0;
            }
            else {
                short_set = 1;
                click(button);
            }
        } 
    });

    /********************- PITCH RESULT -********************/
    pitchResultButtons.click(function() {
        button = $(this);
        pitch = button.attr("value");
        unclick(pitchResultButtons);
        abResultsReset();

        if (pitch == "IP") {
            // if button already clicked
            if (pitch_result == "IP") {
                pitch_result = "";
                unclick(button);
            }
            // if button not clicked
            else {
                pitch_result = "IP";
                click(button);
                hide(endAtBatDiv);
                show(outDiv);
            }
        }

        if (pitch == "F") {
            // if button already clicked
            if (pitch_result == "F") {
                pitch_result = "";
                unclick(button);
            }
            // if button not clicked
            else {
                pitch_result = "F";
                click(button);
            }
        }

        if (pitch == "B") {
            // if button already clicked
            if (pitch_result == "B") {
                pitch_result = "";
                unclick(button);
                if (balls == 3) {
                    hide(walkDiv);
                    show(endAtBatDiv);
                }
            }
            // if button not clicked
            else {
                pitch_result = "B";
                click(button);
                if (balls == 3) {
                    hide(endAtBatDiv);
                    show(walkDiv);
                }
            }
        }

        if (pitch == "SS") {
            // if button already clicked
            if (pitch_result == "SS") {
                pitch_result = "";
                unclick(button);
                if (strikes == 2) {
                    hide(strikeoutSwingDiv);
                    show(endAtBatDiv);
                }
            }
            // if button not clicked
            else {
                pitch_result = "SS";
                click(button);
                if (strikes == 2) {
                    hide(endAtBatDiv);
                    show(strikeoutSwingDiv);
                }
            }
        }
        
        if (pitch == "CS") {
            // if button already clicked
            if (pitch_result == "CS") {
                pitch_result = "";
                unclick(button);
                if (strikes == 2) {
                    hide(strikeoutLookDiv);
                    show(endAtBatDiv);
                }
            }
            // if button not clicked
            else {
                pitch_result = "CS";
                click(button);
                if (strikes == 2) {
                    hide(endAtBatDiv);
                    show(strikeoutLookDiv);
                }
            }
        }

        checkLogic();
    
    });

    /********************- TRAJ -********************/
    trajButtons.click(function(){
        button = $(this);
        unclick(trajButtons);
        click(button);
        traj = button.attr('value');
    });
    
    /********************- FIELDER -********************/
    fielderButtons.click(function(){
        button = $(this);
        unclick(fielderButtons);
        click(button);
        fielder = button.attr("value");
    });

    /********************- HIT HARD -********************/
    hitHardButtons.click(function(){
        button = $(this);
        unclick(hitHardButtons);
        click(button);
        hit_hard = button.attr("value");
    });

    /********************- K/KL -********************/
    strikeoutButtons.click(function(){
        button = $(this);
        ab_result = button.attr('value');
        
        // adjust button colors
        unclick(strikeoutButtons);
        click(button);

        // reset all ab result buttons & hide groups of options
        unclick(abResultButtons);
        hide(abResultGroups);

        // if strike three wasn't a strikout
        if (ab_result == "") {
            makeVisible(abResultBox);
            show(abResultStrikeThreeDiv);
            makeInvisible(addPitchButton);
        }
        // if strike three was a strikout
        else {
            makeInvisible(abResultBox);
            show(abResultInPlayDiv);
            makeVisible(addPitchButton);
        }
    });

    /********************- BB -********************/
    walkButtons.click(function(){
        button = $(this);
        ab_result = $(this).attr('value')

        // adjust button colors
        unclick(walkButtons);
        click(button);

        // reset all ab result buttons & hide groups of options
        unclick(abResultButtons);
        hide(abResultGroups);

        // if ball four wasn a walk
        if (ab_result == "BB") {
            makeInvisible(abResultBox);
            show(abResultInPlayDiv);
            makeVisible(addPitchButton);
        }
        // if ball four wasn't a walk
        else {
            makeVisible(abResultBox);
            show(abResultOtherDiv);
            makeInvisible(addPitchButton);
        }
    });

    /********************- IP->Out -********************/
    outButtons.click(function(){
        button = $(this);
        ab_result = button.attr("value");

        // adjust the button colors
        unclick(outButtons);
        click(button);

        // show the field div and field itself
        makeVisible(fieldDiv);
        makeVisible(field);

        // reset abResultBox stuff
        hide(abResultGroups);
        show(abResultInPlayDiv);
        unclick(abResultButtons);

        // if "Yes" was selected
        if (ab_result == "IP->Out") {
            makeInvisible(abResultBox);
        }
        // if "No" was selected
        else {
            makeVisible(abResultBox);
        }

        checkLogic();
    });

    /********************- AB RESULTS -********************/
    abResultButtons.click(function(){
        button = $(this);
        unclick(abResultButtons);
        click(button);
        ab_result = button.attr("value");
        checkLogic();
    })

    /********************- END AB EARLY -********************/
    endAtBatButtons.click(function(){
        button = $(this);
        endAtBat = button.attr("value");
        unclick(endAtBatButtons);
        click(button);
        ab_result = "";

        // if no is clicked
        if (endAtBat == "No") {
            unclick(abResultButtons);
            makeInvisible(abResultBox);
            hide(abResultGroups);
            show(abResultInPlayDiv);
        }
        // if yes was clicked
        else {
            makeVisible(abResultBox);
            hide(abResultGroups);
            show(abResultOtherDiv);
        }
        checkLogic();
    });

    /********************- ADD PITCH -********************/
    addPitchButton.click(function(){
        // get values that weren't set above
        inning = inningInput.val();
        velocity = velocityInput.val();
        time_to_plate = timeToPlateInput.val();
        notes = notesInput.val()

        // set pitch data in a dictionary
        pitchData = {
            'batter_id': batter_id, 'velocity': velocity, 'lead_runner': lead_runner,
            'time_to_plate': time_to_plate, 'pitch_type': pitch_type, 'pitch_result': pitch_result,
            'roll_through': roll_through, "short_set": short_set, 'loc_x': loc_x, 'loc_y': loc_y, 
            'hit_spot': hit_spot, 'ab_result': ab_result, 'traj': traj, 'fielder': fielder, 
            'spray_x': spray_x*1.3, 'spray_y': spray_y*1.3, 'hit_hard': hit_hard, 'inning': inning, 'notes': notes
        };

        // append dictionary to pitches array
        pitches.push(pitchData);
        pitch_num += 1;
        pitchCountInning[pitchData['inning']] += 1

        // add pitch to table at bottom of page
        updatePitchTable();

        // send pitch to database
        sendPitchToDatabase(pitchData);

        // update the count and pitch count and their text displays
        updatePitchCount();

        // clear some of the inputs that change every pitch
        velocityInput.val("");
        fielderSelect.val("");
        timeToPlateInput.val("");
        notesInput.val("");

        // clear some of the variables that track pitch info
        velocity = "";
        time_to_plate = "";
        pitch_type = "";
        pitch_result = "";
        hit_spot = 0;
        ab_result = "";
        traj = "";
        fielder = "";
        hit_hard = 0;
        loc_x = "";
        loc_y = "";
        spray_x = "";
        spray_y = "";
        endAtBat = "No";
        roll_through = 0;
        short_set = 0;
        notes = "";

        // reset buttons or values that may have been clicked
        unclick(pitchTypeButtons);
        unclick(pitchResultButtons);
        unclick(hitSpotButtons);
        unclick(endAtBatButtons);
        unclick(trajButtons);
        unclick(strikeoutButtons);
        unclick(walkButtons);
        unclick(abResultButtons);
        unclick(outButtons);
        unclick(hitHardButtons);
        unclick(fielderButtons);
        unclick(alternateDeliveryButtons);

        // hide certain buttons and divs
        makeInvisible(addPitchButton);
        makeInvisible(fieldDiv);
        makeInvisible(field);
        makeInvisible(ballFlightInfoTable);
        makeInvisible(abResultBox);
        hide(outDiv);
        hide(strikeoutLookDiv);
        hide(strikeoutSwingDiv);
        hide(walkDiv);
        show(endAtBatDiv);

        // click the defaults
        click($(".default-selections"));

        // remove circles and text from diagrams
        strikezone.selectAll('circle').remove();
        strikezone.selectAll('text').remove();
        fieldD3.selectAll('circle').remove();

    });

    /***********************- HELPFUL FUNCTIONS -***********************/
    function sendPitchToDatabase(pitchInfo) {
        outing = outing_id;
        data = {
            "outing": outing,
            "pitch": pitchInfo,
            "count": count,
            "pitch_num": pitch_num,
            "at_bat": atBat
        };

        fetch("{{ url_for('api.pitch_tracker') }}", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {"content-type": "application/json"}
        })
        .then(res => res.json())
        .then(function(response) {
            // if sending to database failed
            if(response.status == "failure"){
                console.log("Request status: failure");
                console.log("Error message: " + response.error);
                return;
            }
            atBat = response["atBat"];
            balls = response["balls"];
            strikes = response["strikes"];
            count = `${balls}-${strikes}`;
            $("#count").text(count);
        });
    }
    
    function setUpD3Elements(zone, field) {
        /** Sets up the interactive strikezone and field to store data related to a pitch
        * @param {svg} zone - The svg element where the strikezone will be placed
        * @param {svg} field - The svg element where the field for sprays will be placed
        */

        // set up the field 
        // var field = d3.select("#field");
        width = +field.attr('width');
        height = +field.attr('height');
        g1 = field.append('g').attr('transform', 'translate(0,95)');
        field.append("svg:image")
            .attr('x', 0)
            .attr('y', 0)
            .attr('width', 435)
            .attr('height', 430)
            .attr('transform', 'translate(17,17)')
            .style('alignment-baseline', 'middle')
            .attr("xlink:href", "{{ url_for('static', filename='images/field.png') }}");

        // set up the location tracker
        // var svg = d3.select("#main");
        margin = {top: 10, right: 10, bottom: 10, left: 20};
        width = +zone.attr('width');
        height = +zone.attr('height');
        g = zone.append('g').attr('transform', null);
        zone.style('background-color', 'white').style('border', '1px solid black').style('margin', '10px');

        var xScale = d3.scaleLinear().range([width, 0]).domain([2,-2]);
        var yScale = d3.scaleLinear().range([height, 0]).domain([0,4]);
        var xScalef = d3.scaleLinear().range([width, 0]).domain([250,-250]);
        var yScalef = d3.scaleLinear().range([height, 0]).domain([-100,400]);

        function drawCircle(x, y) {
            zone.append('circle')
                .attr('class', 'click-circle')
                .attr('cx', x)
                .attr('cy', y)
                .attr('r', '8')
                .style('fill', background_red);
        }

        g.append('path')
            .attr('id', 'zone')
            .attr(
                'd', 'M ' + xScale(-.833) + ',' + yScale(1.75) + ' L ' + xScale(-.833) + ',' + yScale(3.4) + ' L ' +
                xScale(.833) + ',' + yScale(3.4) + ' L ' + xScale(.833) + ','  + yScale(1.75) + ' L ' + xScale(-.833) +  ',' + yScale(1.75)
                + 'M' + xScale(0) + ',' + yScale(0.2) + 'L' + xScale(-.843) + ',' + yScale(0.4) + 'L'  + xScale(-.833) + ',' + yScale(0.6) + 'L' +
                xScale(.833)+ ',' + yScale(0.6) + 'L' + xScale(.843) + ',' + yScale(0.4) + 'L' + xScale(0) + ',' + yScale(0.2)
            )
            .style('stroke', 'black')
            .style('fill', 'none')
            .style('stroke-width', 2);
        
        // move or place circle on chart
        zone.on('click', function() {
            zone.selectAll('circle').remove();
            zone.selectAll('text').remove();
            var local = d3.mouse(this);

            drawCircle(local[0], local[1]);
            loc_x = Math.round(xScale.invert(local[0])*100,3)/100;
            loc_y = Math.round(yScale.invert(local[1])*100,3)/100;
            zone.append('text')
                .attr('y', yScale(3.8))
                .attr('x', xScale(1.8))
                .style('text-anchor', 'end')
                .style('font-size', '16px')
                .text('(' + Math.round(xScale.invert(local[0])*100)/100 + ', ' + loc_y + ')');
            $('#btn').show;
            checkLogic();
        });

        // move or place circle on chart
        field.on('click', function() {
            field.selectAll('circle').remove();
            var local = d3.mouse(this);
            field.append('circle')
                .attr('class', 'click-circle1')
                .attr('cx', local[0])
                .attr('cy', local[1])
                .attr('r', '8')
                .style('fill', background_red);
            spray_x = Math.round(xScalef.invert(local[0])*100,3)/100;
            spray_y = Math.round(yScalef.invert(local[1])*100,3)/100;
            spray_x = Math.round(spray_x*100)/100;
            spray_y = Math.round(spray_y*100)/100;
            $('#ipTable').css('visibility', 'visible');
        });
    }

    function abResultsReset() {
        /**
        * Resets ab_result variable and unselects the butttons related to ending an at bat
        */

        // reset values
        ab_result = "";
        spray_x = "";
        spray_y = "";
        traj = "";
        endAtBat = "No";

        // take away circle from field
        fieldD3.selectAll('circle').remove();

        // reset the fielder selection
        fielderSelect.val("");

        // unclick any buttons that may have been clicked
        unclick(trajButtons);
        unclick(outButtons);
        unclick(walkButtons);
        unclick(strikeoutButtons);
        unclick(endAtBatButtons);
        unclick(fielderButtons);
        unclick(hitHardButtons);

        // hide the field, traj/fielder table, and ab result options
        makeInvisible(fieldDiv);
        makeInvisible(field);
        makeInvisible(ballFlightInfoTable);
        makeInvisible(abResultBox);

        // hide other ab result stuff
        hide(outDiv);
        hide(walkDiv);
        hide(strikeoutSwingDiv);
        hide(strikeoutLookDiv);
        hide(abResultGroups);

        // make display = block for spacing/sizing
        show(abResultOtherDiv);

        // show the end at bat early div option
        show(endAtBatDiv);

        // click No for end at ab
        click($("#end-ab-no"));
        click(hitHardButtons.last());
    }

    function updatePitchTable() {
        /**
        * Adds the most recent pitch to the table at the bottom of the screen
        * @param {array} pitches - array of pitches with each element being a dictionary
        */

        var pitch_table = $("#pitch-table > tbody");
        pitch_table.empty();

        // add pitch to end of table
        pitch_table = pitch_table.append(
            `<tr class="table-headers">
                <th>No.</th>
                <th>Batter</th>
                <th>Velo</th>
                <th>Lead RNR</th>
                <th>Time to Plate</th>
                <th>Pitch Type</th>
                <th>Pitch Result</th>
                <th>Hit Spot?</th>
                <th>AB Result</th>
                <th>Traj</th>
                <th>Fielder</th>
                <th>Hit Hard?</th>
                <th>Inning</th>
                <th>Notes</th>
            </tr>`
        );
            
        var atBat = true;
        var gray = "#ececec";
        for (var i=0; i<pitches.length; i++) {
            var del = "";
            if (pitches[i]["roll_through"] == 1) {
                del = "5";
            }
            if (pitches[i]["short_set"] == 1) {
                del = "2";         
            } 
            if (atBat) {
                pitch_table = pitch_table.append(
                    `<tr>
                        <td>${i+1}</td>
                        <td>${pitches[i]['batter_id']}</td>
                        <td>${pitches[i]['velocity']}</td>
                        <td>${pitches[i]['lead_runner']}</td>
                        <td>${pitches[i]['time_to_plate']}</td>
                        <td>${del}${pitches[i]['pitch_type']}</td>
                        <td>${pitches[i]['pitch_result']}</td>
                        <td>${pitches[i]['hit_spot']}</td>
                        <td>${pitches[i]['ab_result']}</td>
                        <td>${pitches[i]['traj']}</td>
                        <td>${pitches[i]['fielder']}</td>
                        <td>${pitches[i]['hit_hard']}</td>
                        <td>${pitches[i]['inning']}</td>
                        <td>${pitches[i]['notes']}</td>
                    </tr>`
                );
            }
            else {
                pitch_table = pitch_table.append(
                    `<tr style="background-color: ${gray}">
                        <td>${i+1}</td>
                        <td>${pitches[i]['batter_id']}</td>
                        <td>${pitches[i]['velocity']}</td>
                        <td>${pitches[i]['lead_runner']}</td>
                        <td>${pitches[i]['time_to_plate']}</td>
                        <td>${del}${pitches[i]['pitch_type']}</td>
                        <td>${pitches[i]['pitch_result']}</td>
                        <td>${pitches[i]['hit_spot']}</td>
                        <td>${pitches[i]['ab_result']}</td>
                        <td>${pitches[i]['traj']}</td>
                        <td>${pitches[i]['fielder']}</td>
                        <td>${pitches[i]['hit_hard']}</td>
                        <td>${pitches[i]['inning']}</td>
                        <td>${pitches[i]['notes']}</td>
                    </tr>`
                );
            }
            if (pitches[i]["ab_result"] != "") {
                atBat = !atBat;
            }
        }
        
    }

    function updateCount() {
        // update strikes or balls variables
        if (pitch_result == "B") {
            balls += 1;
        } 
        else {
            if (pitch_result == "F" && strikes == 2) {
                strikes = 2;
            }
            else {
                strikes += 1;
            }
        }

        // reset count if at bat over
        if (ab_result != "") {
            balls = 0;
            strikes = 0;
        }

        count = `${balls}-${strikes}`;
    }

    function updatePitchCount() {
        $("#total-pitches").text(`${pitch_num} (${pitchCountInning[inning]})`);
    }

    function checkLogic() {
        /**
        * Checks to see if the "Add Pitch" button should be shown
        */

        if (pitch_type != "" && pitch_result != "" && loc_x != "") {
            if (balls == 3 && ab_result == "" && pitch_result == "B") {
                makeInvisible(addPitchButton);
            }
            else if (strikes == 2 && ab_result == "" && (pitch_result == "SS" || pitch_result == "CS")){
                makeInvisible(addPitchButton);
            }
            else if (pitch_result == "IP" && ab_result == "") {
                makeInvisible(addPitchButton);
            }
            else if (endAtBat == "Yes" && ab_result == "") {
                makeInvisible(addPitchButton);
            }
            else {
                makeVisible(addPitchButton);
            }
        }
        else {
            makeInvisible(addPitchButton);
        }
    }

    function unclick(element) {
        element.css('background-color', 'white').css('color', 'black');
    }

    function click(element) {
        element.css('background-color', background_red).css('color', text_white);
    }

    function makeVisible(element) {
        element.css("visibility", "visible");
    }

    function makeInvisible(element) {
        element.css("visibility", "hidden");
    }

    function show(element) {
        element.css("display", "block");
    }

    function hide(element) {
        element.css("display", "none");
    }

    function setPitches() {
        {% for p in pitches %}
            var pitch = {
                "batter_id": {% if p.batter_id in [None, ""] %}""{% else %}{{ p.batter_id }}{% endif %},
                "velocity": {% if p.velocity in [None, ""] %}""{% else %}{{ p.velocity }}{% endif %},
                "lead_runner": {% if p.lead_runner in [None, ""] %}""{% else %}{{ p.lead_runner }}{% endif %},
                "time_to_plate": {% if p.time_to_plate in [None, ""] %}""{% else %}{{ p.time_to_plate }}{% endif %},
                "pitch_type": {% if p.pitch_type in [None, ""] %}""{% else %}{{ p.pitch_type }}{% endif %},
                "roll_through": {% if p.roll_through == True %}1{% else %}0{% endif %},
                "short_set": {% if p.short_set == True %}1{% else %}0{% endif %},
                "pitch_result": "{% if p.pitch_result in [None, ""] %}""{% else %}{{ p.pitch_result }}{% endif %}",
                "loc_x": {% if p.loc_x in [None, ""] %}""{% else %}{{ p.loc_x }}{% endif %},
                "loc_y": {% if p.loc_y in [None, ""] %}""{% else %}{{ p.loc_y }}{% endif %},
                "hit_spot": {% if p.hit_spot == True %}1{% else %}0{% endif %},
                "ab_result": "{% if p.ab_result in [None, ""] %}{% elif p.ab_result == "IP->Out" %}IP->Out{% elif p.ab_result == "D3->Out" %}D3->Out{% elif p.ab_result == "D3->Safe" %}D3->Safe{% else %}{{ p.ab_result }}{% endif %}",
                "traj": "{% if p.traj in [None, ""] %}{% else %}{{ p.traj }}{% endif %}",
                "fielder": {% if p.fielder in [None, ""] %}""{% else %}{{ p.fielder }}{% endif %},
                "spray_x": {% if p.spray_x in [None, ""] %}""{% else %}{{ p.spray_x }}{% endif %},
                "spray_y": {% if p.spray_y in [None, ""] %}""{% else %}{{ p.spray_y }}{% endif %},
                "hit_hard": {% if p.hit_hard == True %}1{% else %}0{% endif %},
                "inning": {% if p.inning in [None, ""] %}""{% else %}{{ p.inning }}{% endif %},
                "notes": "{% if p.notes in [None, ""] %}{% else %}{{ p.notes }}{% endif %}"
            }
            pitches.push(pitch);
        {% endfor %}
    }

    function setPitchCountInning() {
        {% for key, value in pitch_count_inning.items() %}
            pitchCountInning[{{key}}] = {{value}};
        {% endfor %}
    }

</script>