{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} 
    {% else %}
        WashU Pitching Portal
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800');
    </style>
    <style>
        .navbar-default {
            background-color: #bd2e1f;
            border-color: #ab1000;
            font-family: 'Exo', sans-serif;
            font-weight: 500;
          }
          .navbar-default .navbar-brand {
            color: #f9feff;
            padding: 8px;
          }
          .navbar-default .navbar-brand:hover,
          .navbar-default .navbar-brand:focus {
            color: #ffffff;
          }
          .navbar-default .navbar-text {
            color: #f9feff;
          }
          .navbar-default .navbar-nav > li > a {
            color: #f9feff;
          }
          .navbar-default .navbar-nav > li > a:hover,
          .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
          }
          .navbar-default .navbar-nav > .active > a,
          .navbar-default .navbar-nav > .active > a:hover,
          .navbar-default .navbar-nav > .active > a:focus {
            color: #ffffff;
            background-color: #ab1000;
          }
          .navbar-default .navbar-nav > .open > a,
          .navbar-default .navbar-nav > .open > a:hover,
          .navbar-default .navbar-nav > .open > a:focus {
            color: #ffffff;
            background-color: #ab1000;
          }
          .navbar-default .navbar-toggle {
            border-color: #ab1000;
          }
          .navbar-default .navbar-toggle:hover,
          .navbar-default .navbar-toggle:focus {
            background-color: #ab1000;
          }
          .navbar-default .navbar-toggle .icon-bar {
            background-color: #f9feff;
          }
          .navbar-default .navbar-collapse,
          .navbar-default .navbar-form {
            border-color: #f9feff;
          }
          .navbar-default .navbar-link {
            color: #f9feff;
          }
          .navbar-default .navbar-link:hover {
            color: #ffffff;
          }
          
          @media (max-width: 767px) {
            .navbar-default .navbar-nav .open .dropdown-menu > li > a {
              color: #f9feff;
            }
            .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
              color: #ffffff;
            }
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
              color: #ffffff;
              background-color: #ab1000;
            }
          }
        .navbar-brand img {
            max-height: 100%;
            width: auto;
        }
         .container {
             background-color: white;
         }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href="{{ url_for('index') }}">
            <img alt='Brand' src="{{ url_for('static', filename='images/Bear_Head.png') }}">
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="{{ url_for('staff') }}">Staff</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seasons <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('season', id=3) }}">Fall 2019</a></li>
                <li><a href="{{ url_for('season', id=4) }}">Spring 2020</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('season', id=2) }}">Spring 2019</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opponents <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('opponent', id=1) }}">Matchups</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li>
            <form action="{{ url_for('login') }}">
              <button type="submit" class="btn btn-default navbar-btn">Sign In</button>
            </form>
          </li>
          {% else %}
          {% if current_user.admin %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
            <ul class="dropdown-menu">
                
                <li><a href="{{ url_for('new_outing') }}">New Outing</a></li>
                <li><a href="{{ url_for('new_outing_csv') }}">New Outing CSV</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('register') }}">New User</a></li>
                <li><a href="{{ url_for('new_opponent') }}">New Opponent</a></li>
                <li><a href="{{ url_for('new_season') }}">New Season</a></li>
            </ul>
          </li>
          {% endif %}
          <li>
              <form action="{{ url_for('logout') }}">
                <button type="submit" class="btn btn-default navbar-btn">Logout</button>
              </form>
          </li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div><br><br><br><br><br><br><br><br>
{% endblock %}