{% extends "base.html" %}

{% block app_content %}
    <h1>
        {{ outing }}
        {% if current_user.admin or current_user.id==outing.user_id %}
            <a href="{{ url_for('edit_outing', outing_id=outing.id) }}">Edit Outing</a>
        {% endif %}
    </h1>
        <div class="panel panel-default">
            <div class="panel-heading">Pitches</div>
            <div class="panel-body">
                <p>{{ outing }}</p>
            </div>
            <table class="table">
                <tr>
                    <th>Pitch</th>
                    <th>Batter</th>
                    <th>RHH/LHH</th>
                    <th>Velo</th>
                    <th>Lead RNR</th>
                    <th>Time to Plate</th>
                    <th>Pitch Type</th>
                    <th>Pitch Result</th>
                    <th>Hit Spot?</th>
                    <th>Balls</th>
                    <th>Strikes</th>
                    <th>Result</th>
                    <th>Fielder</th>
                    <th>Hit?</th>
                    <th>Out #</th>
                    <th>Inning</th>
                </tr>
                {% for pitch in outing.pitches %}
                <tr>
                    <td>{{ pitch.pitch_num }}</td>
                    <td>{{ pitch.batter_id }}</td>
                    <td>{{ pitch.batter_hand }}</td>
                    <td>{{ pitch.velocity }}</td>
                    <td>{{ pitch.lead_runner }}</td>
                    <td>{{ pitch.time_to_plate }}</td>
                    <td>{{ pitch.pitch_type }}</td>
                    <td>{{ pitch.pitch_result }}</td>
                    <td>{{ pitch.hit_spot }}</td>
                    <td>{{ pitch.count_balls }}</td>
                    <td>{{ pitch.count_strikes }}</td>
                    <td>{{ pitch.result }}</td>
                    <td>{{ pitch.fielder }}</td>
                    <td>{{ pitch.hit }}</td>
                    <td>{{ pitch.out }}</td>
                    <td>{{ pitch.inning }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Stats</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>FB</th>
                        <th>2-SEAM</th>
                        <th>CB</th>
                        <th>SL</th>
                        <th>CH</th>
                        <th>CT</th>
                    </tr>
                    <tr>
                        <th>Num</th>
                        <td>{{usages["FB"]}}</td>
                        <td>{{usages["SM"]}}</td>
                        <td>{{usages["CB"]}}</td>
                        <td>{{usages["SL"]}}</td>
                        <td>{{usages["CH"]}}</td>
                        <td>{{usages["CT"]}}</td>
                    </tr>
                    <tr>
                        <th>Percent</th>
                        <td>{{usage_percentages["FB"]}}</td>
                        <td>{{usage_percentages["SM"]}}</td>
                        <td>{{usage_percentages["CB"]}}</td>
                        <td>{{usage_percentages["SL"]}}</td>
                        <td>{{usage_percentages["CH"]}}</td>
                        <td>{{usage_percentages["CT"]}}</td>
                    </tr>
                </table>
                <br>
                <div>Pitch Usage by Count</div>
                <br>
                <table class="table">
                    <tr>
                        <th>Count</th>
                        <th>FB</th>
                        <th>2-SEAM</th>
                        <th>CB</th>
                        <th>SL</th>
                        <th>CH</th>
                        <th>CT</th>
                        <th>total</th>
                    </tr>
                    {% for count, value in counts.items() %}
                        <tr>
                            <th>{{count}}</th>
                            <td>{{value["pitches"]["FB"]}}</td>
                            <td>{{value["pitches"]["SM"]}}</td>
                            <td>{{value["pitches"]["CB"]}}</td>
                            <td>{{value["pitches"]["SL"]}}</td>
                            <td>{{value["pitches"]["CH"]}}</td>
                            <td>{{value["pitches"]["CT"]}}</td>
                            <td>{{value["total"]}}</tr>
                        </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
{% endblock %}