{% extends "base.html" %}

{% block app_content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {% for subfield in form.year %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.throws.label }} (If player)<br>
            {% for subfield in form.throws %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
            {% for error in form.throws.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.admin.label }} <br>
           {{ form.admin }} <br>
           {% for error in form.password2.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
