{% extends "base.html" %}
{% block app_content %}
<h1>Upload Outing CSV</h1>
    <div class="container">
        <p> In order to upload a file, it must have these categories with these names:
            <table class="table">
                <tr>
                    <th>Stat</th>
                    <th>Field name</th>
                    <th>Inputs allowed</th>
                </tr>
                <tr>
                    <td>number of the pitch</td>
                    <td>pitch_num</td>
                    <td>1-150</td>
                </tr>
                <tr>
                    <td>batter number</td>
                    <td>batter_id</td>
                    <td>0-9999</td>
                </tr>
                <tr>
                    <td>side batter hits from</td>
                    <td>batter_hand</td>
                    <td>RHH or LHH</td>
                </tr>
                <tr>
                    <td>pitch velo</td>
                    <td>velocity</td>
                    <td>0-9999</td>
                </tr>
                <tr>
                    <td>location of lead runner</td>
                    <td>lead_runner</td>
                    <td>1, 2, 3, or empty</td>
                </tr>
                <tr>
                    <td>time to home</td>
                    <td>time_to_plate</td>
                    <td>any 4 digit number including decimal places</td>
                </tr>
                <tr>
                    <td>pitch type</td>
                    <td>pitch_type</td>
                    <td>1, 2, 3, 4, 5, or 7</td>
                </tr>
                <tr>
                    <td>Pitch result</td>
                    <td>pitch_result</td>
                    <td>B, CS, SS, F, or IP</td>
                </tr>
                <tr>
                    <td>Pitch hit spot?</td>
                    <td>hit_spot</td>
                    <td>Y or N</td>
                </tr>
                <tr>
                    <td>balls in the count</td>
                    <td>count_balls</td>
                    <td>0, 1, 2, or 3</td>
                </tr>
                <tr>
                    <td>strikes in the count</td>
                    <td>count_strikes</td>
                    <td>0, 1, or 2</td>
                </tr>
                <tr>
                    <td>result</td>
                    <td>result</td>
                    <td>GB, FB, LD, K, KL, BB, or HBP</td>
                </tr>
                <tr>
                    <td>where the ball was hit</td>
                    <td>fielder</td>
                    <td>P, C, 1B, 2B, 3B, SS, LF, CF, RF or empty</td>
                </tr>
                <tr>
                    <td>Did batter get a hit</td>
                    <td>hit</td>
                    <td>Y or N</td>
                </tr>
                <tr>
                    <td>number of outs</td>
                    <td>out</td>
                    <td>0, 1, or 2</td>
                </tr>
                <tr>
                    <td>current inning</td>
                    <td>inning</td>
                    <td>0-9999</td>
                </tr>
            </table>
        </p>
    </div>
    <form method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }} <br>
            {{ form.file }}
            {% for error in form.file.errors %}
                <span style="color: red;">[{{ error }}] </span>
            {% endfor %}
        </p>
        <br>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}