{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">Edit "{{ season }}"</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.semester.label }}<br>
                <select id="semester" name="semester" class="form-control">
                    <option value="Fall" {% if season.semester == "Fall" %} selected="selected" {% endif %}>Fall
                    </option>
                    <option value="Spring" {% if season.semester == "Spring" %} selected="selected" {% endif %}>Spring
                    </option>
                    <option value="Summer" {% if season.semester == "Summer" %} selected="selected" {% endif %}>Summer
                    </option>
                    <option value="Winter" {% if season.semester == "Winter" %} selected="selected" {% endif %}>Winter
                    </option>
                </select>
                {% for error in form.semester.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.year.label }}<br>
                {{ form.year(size=16, value=season.year, type="number", class="form-control") }}
                {% for error in form.year.errors %}
                <br><span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.current_season.label }}<i>Only one season can be the "Current Season" at a time</i><br>
                {% if season.current_season %}
                <input checked id="current_season" name="current_season" type="checkbox" value="y" data-toggle="toggle"
                    data-on="Yes" data-off="No"><br>
                {% else %}
                <input id="current_season" name="current_season" type="checkbox" value="y" data-toggle="toggle"
                    data-on="Yes" data-off="No"><br>
                {% endif %}
                {% for error in form.current_season.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit(class="btn btn-primary btn-block btn-lg") }}
            </p>
        </form>
        <p style="text-align: center">
            -OR-
            <a as="button" class="btn btn-danger btn-block btn-lg" href="/delete_season/{{season.id}}"
                onclick="return confirm('Are you sure you want to delete the season?')">Delete Season</a>
        </p>
    </div>
</div>
{% endblock %}