{% extends "base.html" %}

{% block app_content %}
    <div class="main">
        <h1>New Season</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.semester.label }}<br>
                <select id="semester" name="semester">
                    <option value="Fall" {% if season.semester == "Fall" %} selected='selected' {% endif %}>Fall</option>
                    <option value="Spring" {% if season.semester == "Spring" %} selected='selected' {% endif %}>Spring</option>
                </select>
                {% for error in form.semester.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.year.label }}<br>
                {{ form.year(size=16, value=season.year) }}<br>
                {% for error in form.year.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.current_season.label }}<br>
                {% if season.current_season %}
                    {{ form.current_season(checked='checked') }}<br>
                {% else %}
                    {{ form.current_season() }}<br>
                {% endif %}
                {% for error in form.current_season.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}
