{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block app_content %}
<div class="no-sidenav">
    <div class="form-container">
        <h1 class="form-title">New Season</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.semester.label }} <br>
                {{ form.semester(class="form-control") }}
                {% for error in form.semester.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.year.label }} <br>
                {{ form.year(size=16, placeholder="Year", type="number", class="form-control") }}<br>
                {% for error in form.year.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.current_season.label }}
                <i>Only one season can be the "Current Season" at a time</i><br />
                <input id="current_season" name="current_season" type="checkbox" value="y" data-toggle="toggle"
                    data-on="Yes" data-off="No"><br>
                {% for error in form.current_season.errors %}
                <span class="errors">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </p>
        </form>
    </div>
</div>
{% endblock %}